<div class="page-title-area">
    <div class="bg-text">
        <span>Dilx<br>Digital<br>Informative<br>Solution</span>
    </div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="title-item">
                    <h2>Contact Us</h2>
                    <ul>
                        <li>
                            <a href="sass.html">Home</a>
                        </li>
                        <li>
                            <span>Contact Us</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="contactus pt-70 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 m-auto">
                <h6 class="text-center">Any questions or remarks? Just write us a message!</h6>

                <div class="row g-3 mt-5">
                    <div class="col-12 col-md-6">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control rounded-pill px-4 border-primary" placeholder="Enter a valid email address">
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control rounded-pill px-4 border-primary" placeholder="Enter your name">
                    </div>
                    <div class="col-12 col-md-12">
                        <button type="button" class="btn btn-primary rounded-pill w-100">
                            <span class="w-100 text-center">SUBMIT</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-light contact-address-sec">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="address-box">
                        <div class="icon">
                            <i class='bx bx-run'></i>
                        </div>
                        <h4>About Club</h4>
                        <p class="m-0">Running Guide</p>
                        <p class="m-0">Worksout</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="address-box">
                        <div class="icon">
                            <i class='bx bxs-phone-call' ></i>
                        </div>
                        <h4>Phone (Landline)</h4>
                        <p class="m-0"><a class="text-black" href="tel:+0881306298615">+088 - 130 - 629 - 8615</a></p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="address-box">
                        <div class="icon">
                            <i class='bx bxs-map'></i>
                        </div>
                        <h4>Our Office Location</h4>
                        <p class="m-0">2659 Autostrad St, London, UK</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Newsletter -->

<section class="newsletter-area two pt-100 pb-70">
    <div class="container">
        <div class="section-title three text-center">
            <span class="sub-title text-center">Newsletter Subscription</span>
            <h2 class="text-center">Weekly Email Newsletter</h2>
        </div>
        <div class="row mt-4 mt-md-5">
            <div class="col-12 col-md-8 m-auto">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <img src="/images/newsletter.svg" alt="">
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="w-100">
                            <h2>Subscribe to our Newsletter!</h2>
                            <p>Subscribe to our Newsletter and stay updated.</p>
                            <form id="newsletterForm" novalidate="true" class="w-100">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 w-100">
                                        <div class="form-group w-100">
                                            <label>
                                                <i class="bx bx-mail-send"></i>
                                            </label>
                                            <input type="email" name="email" id="email" class="form-control rounded-pill" placeholder="Email" required="" data-error="Please enter your email">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <button type="button" class="btn btn-primary rotrate-icon w-100 rounded-pill">
                                            <span class="z-1 w-100 text-center">Subscribe</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
        
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

       

    </div>
</section>