<div class="page-title-area"  style="background: url('/images/about-us.png');">
    
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="title-item">
                    <h2>About</h2>
                    <ul>
                        <li>
                            <a href="sass.html">Home</a>
                        </li>
                        <li>
                            <span>About</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-area-two py-3 py-md-5">
    <div class="about-shape">
        <img src="/images/about2.png" alt="Shape">
        <img src="/images/about3.png" alt="Shape">
        <img src="/images/about4.png" alt="Shape">
    </div>
    <div class="container p-0">
        <div class="row m-0 align-items-center">
            <div class="col-lg-6 p-0">
                <div class="about-img">
                    <img src="/images/about-main.png" alt="About">
                </div>
            </div>

            <div class="col-lg-6 p-0">
                <div class="about-content w-100">
                    <div class="section-title three">
                        <span class="sub-title">About Us</span>
                        <h2>Empowering Your Brand for a Digital Future</h2>
                        <p class="mb-3">Adcuesta is a dynamic and forward-thinking company that specializes in both branding and mVAS 
                            (mobile value-added services). We harness the power of innovative strategies and cutting-edge technology 
                            to elevate your brand and maximize your digital presence. </p>

                        <p class="mb-3">With a deep understanding of the digital landscape, we provide tailored strategies in digital consulting, 
                            social media management, SEO, content marketing, and more. Our expertise extends to mVAS (Mobile Value Added 
                            Services), where we excel in media buying, performance marketing, fraud prevention, and leveraging our in-house 
                            affiliate tracking tools.</p>

                        <p>At Adcuesta, we are committed to delivering results that drive growth and success for your brand. Our team is dedicated to 
                            crafting unique experiences that resonate with your audience, ensuring your brand stands out in a crowded marketplace. Join 
                            us, and let's create something extraordinary together.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-3">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Our Mission</h2>
                    <p>Our mission is to empower businesses by delivering comprehensive branding and mobile value-added services 
                        that drive measurable results. We are committed to providing strategic insights and innovative solutions 
                        that enhance brand visibility, engagement, and performance.</p>
                </div>
                <div class="col-lg-6">
                    <h2>Our Vision</h2>
                    <p>Our vision is to be a leading force in the digital marketing landscape, known for our exceptional ability 
                        to blend creativity with strategy. We aim to build lasting partnerships with our clients, helping them achieve 
                        sustained growth and success through our holistic approach to branding and mobile value-added services.</p>
                </div>
            </div>
        </div>

        
        <div class="m-0">
            <h2>Our Commitment</h2>
            <h6>At adcuesta, we are committed to:</h6>
            <ul class="d-flex flex-column gap-1 my-3">
                <li>
                    <p class="m-0 lh-base">Delivering innovative and customized solutions tailored to your unique business needs.</p>
                </li>
                <li>
                    <p class="m-0 lh-base">Building strong, recognizable brands that resonate with your target audience.</p>
                </li>
                <li>
                    <p class="m-0 lh-base">Utilizing the latest technologies and best practices to stay ahead of industry trends.</p>
                </li>
                <li>
                    <p class="m-0 lh-base">Providing exceptional customer service and support throughout your journey with us.</p>
                </li>
            </ul>
            <p>Join us at adcuesta and experience the difference of working with a team that is passionate about driving your brand's success. 
                Let us help you navigate the digital landscape and achieve your business goals with confidence and creativity.</p>
        </div>
    </div>
</div>




<section class="counter-area two pt-100">
    <div class="counter-shape">
        <img src="/images/counter-bg.png" alt="Shape">
    </div>
    <!-- <div class="container">
        <h2>DCB and Branding</h2>
        <div class="row justify-content-center">
            <div class="col-6 col-sm-3 col-lg-3">
                <div class="counter-item">
                    <h3>10 Years</h3>
                    <p>GLORIOUS YEARS</p>
                    <img src="/images/counter1.png" alt="Shape">
                </div>
            </div>
            <div class="col-6 col-sm-3 col-lg-3">
                <div class="counter-item">
                    <h3>100%</h3>
                    <p>SATISFACTION RATE</p>
                    <img src="/images/counter1.png" alt="Shape">
                </div>
            </div>
            <div class="col-6 col-sm-3 col-lg-3">
                <div class="counter-item">
                    <h3>70+</h3>
                    <p>TEAM MEMBERS</p>
                    <img src="/images/counter1.png" alt="Shape">
                </div>
            </div>
            <div class="col-6 col-sm-3 col-lg-3">
                <div class="counter-item">
                    <h3>25+</h3>
                    <p>SENIOR SCIENTIST</p>
                </div>
            </div>
        </div>
    </div> -->

    <div class="dcb pb-70 pt-70 bg-primary">
        <div class="container">
            <h3 class="text-center text-white pb-70">Creating and Developing Digital Solutions All Over The World!</h3>
            <div class="row g-3 text-center">
                <div class="col-6 col-md-3 border-end border-white">
                    <h3 class="text-white">95%</h3>
                    <p class="m-0 text-white">Client Retention Rate</p>
                </div>
                <div class="col-6 col-md-3 border-end border-white">
                    <h3 class="text-white">25+</h3>
                    <p class="m-0 text-white">Geos</p>
                </div>
                <div class="col-6 col-md-3 border-end border-white">
                    <h3 class="text-white">7+</h3>
                    <p class="m-0 text-white">Digital Products</p>
                </div>
                <div class="col-6 col-md-3">
                    <h3 class="text-white">24/7</h3>
                    <p class="m-0 text-white">Customer Support</p>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="mind-area">
    <div class="container">
        <div class="row align-items-center  justify-content-center">
            <div class="col-lg-5">
                <div class="mind-left">
                    <h2>Have A Project In Mind? Let's Work Together</h2>
                </div>
            </div>
            <div class="col-lg-7 d-flex justify-content-md-end">
                <div class="mind-right">
                    <button type="button" class="btn btn-primary rounded-pill rotrate-icon">
                        <span class="z-1">Get Started Project</span><i class="bx bx-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>