<div class="page-title-area">
    <div class="bg-text">
        <span>Dilx<br>Digital<br>Informative<br>Solution</span>
    </div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="title-item">
                    <h2>Blog Details</h2>
                    <ul>
                        <li>
                            <a href="sass.html">Home</a>
                        </li>
                        <li>
                            <span>Blog Details</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="blog-details-area ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 m-auto">
                <div class="details-item">
                    <div class="details-img">
                        <h4>30 <span>Sep</span></h4>
                        <img src="/images/blog-details.jpg" alt="Details">
                        <h2>Multiple Companies For Collecting Emails</h2>
                        <p class="paragraph-d"><span>D</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidunt ut labore et dolore plicabo. Nemo enim ipsam voluptatem quia voluptas sit aspertur aut odit aut quia consequuntur magni enim
                            ipsam voluptatem quia voluptas</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore plicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut quia consequuntur magni dolores eos qui ratione
                            voluptatem sequi nesciunt.</p>
                    </div>
                    <div class="details-quote">
                        <i class="flaticon-left-quote"></i>
                        <h3>I see SEO becoming a normalized marketing tactic, the same way TV, radio, and print are traditionally</h3>
                        <span>HERBERT BAYARD SWOPE</span>
                    </div>
                    <div class="details-digital">
                        <h3>Digital Cost Is Effective Strategy</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        <p>cia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem tem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                            Neque porro quisquam est.</p>
                    </div>
                    <div class="details-text-img">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <img src="/images/blog-details2.jpg" alt="Details">
                            </div>
                            <div class="col-lg-6">
                                <img src="/images/blog-details3.jpg" alt="Details">
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore plicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut quia consequuntur magni dolores eos qui ratione
                            voluptatem sequi nesciunt.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>