<footer class="main-footer">
    <div class="footer-top">
        <div id="starshine">
            <div class="shine shine shine-1"></div>
            <div class="shine shine shine-2"></div>
        </div>
        <div class="bg-layer" style="background-image: url('../../../../images/pattern-6.png');"></div>
        <div class="container">
            <div class="widget-section">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                        <div class="logo-widget footer-widget wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <figure class="footer-logo"><a href="index.html"><img src="/images/logo.svg" alt=""></a></figure>
                            <div class="widget-content">
                                <ul class="clearfix">
                                    <li><i class="fas fa-map-marker-alt"></i>30 Commercial Road Fratton, Australia</li>
                                    <li><i class="fas fa-phone"></i><a href="tel:18884521505">1-888-452-1505</a></li>
                                    <li><strong>Open Hours:</strong><br>Mon - Sat: 8 am - 5 pm,<br>Sunday: CLOSED</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                        <div class="links-widget footer-widget wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <h3 class="widget-title">
                                <span>Links</span>
                                <i></i>
                            </h3>
                            <div class="widget-content">
                                <ul class="links-list clearfix">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="index.html">Services</a></li>
                                    <li><a href="index.html">About us</a></li>
                                    <li><a href="index.html">Testimonials</a></li>
                                    <li><a href="index.html">News</a></li>
                                    <li><a href="index.html">Team</a></li>
                                    <li><a href="index.html">FAQ</a></li>
                                    <li><a href="index.html">Gallery</a></li>
                                    <li><a href="index.html">Contact</a></li>
                                    <li><a href="index.html">Portfolio</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 footer-column">
                        <div class="subscribe-widget footer-widget wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <h3 class="widget-title">
                                <span>Newsletter</span>
                                <i></i>
                            </h3>
                            <div class="widget-content">
                                <div class="text"><p>Send us a newsletter to get update</p></div>
                                <form action="contact.html" method="post" class="subscribe-form">
                                    <div class="form-group">
                                        <input type="email" name="email" placeholder="Your mail address" required="">
                                        <button class="submit"><i class="far fa-paper-plane"></i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="download-btn clearfix">
                                <figure class="image"><a href="index.html"><img src="/images/app-store.png" alt=""></a></figure>
                                <figure class="image"><a href="index.html"><img src="/images/play-store.png" alt=""></a></figure>
                            </div>
                            <ul class="social-links clearfix">
                                <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="index.html"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="index.html"><i class="fab fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="copyright"><p>2020 © All rights reserved by <a href="index.html">template_path</a></p></div>
        </div>
    </div>
</footer>
