<footer class="footer-area pt-100 pb-70">
    <div class="footer-shape">
        <img src="/images/footer-bg.png" alt="Footer">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-logo">
                        <a href="#">
                            <img src="/images/logo-white.png" alt="Logo">
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adiisicing elit, sed do eiusmod tempor inc Neque porro quisquam est, qui dolorem magnam aliquam quaerat luptatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-links">
                        <h3>Quick Links</h3>
                        <ul>
                            <li>
                                <a href="#" target="_blank">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">Terms &amp; Condiitons</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="footer-item">
                    <div class="footer-links">
                        <h3>Compnay</h3>
                        <ul>
                            <li>
                                <a href="#" routerLink="/about">About Us</a>
                            </li>
                            <li  routerLink="/branding">
                                <a>Services</a>
                            </li>
                            <li  routerLink="/blog">
                                <a >Our Blogs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="footer-item">
                    <div class="footer-address">
                        <h3>Support</h3>
                        <ul>
                            <li>
                                <span>Email id:</span>
                                <a href="mailto:support&#64;adcuesta.com "> support&#64;adcuesta.com </a>
                            </li>
                            <li>
                                <span>Phone No:</span>
                                <a href="tel:2151234567"> +91-9315069261</a>
                            </li>
                            <li>
                                <span>Address:</span> 2659 Autostrad St, London, UK
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyright-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="copyright-item">
                    <p>© Copyright 2024 by Adcuesta media llp. All Rights Reserved.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="copyright-item">
                    <ul>
                        <li>
                            <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/40688309/admin/feed/posts/ " target="_blank"><i class='bx bxl-linkedin'></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="bx bxl-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>