<footer class="main-footer">
    <div class="footer-top">
        <div id="starshine">
            <div class="shine shine shine-1"></div>
            <div class="shine shine shine-2"></div>
        </div>
        <div class="bg-layer" style="background-image: url('../../../../images/pattern-6.png');"></div>
        <div class="container">
            <div class="widget-section">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                        <div class="logo-widget footer-widget wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <figure class="footer-logo"><a href="index.html"><img width="180px" src="/images/logo-white.svg" alt=""></a></figure>
                            <div class="widget-content">
                                <p class="text-white">At Adcuesta, we are committed to delivering results that drive growth and success for your brand.</p>
                                <ul class="clearfix">
                                    <li><a href="mailto:support&#64;adcuesta.com"><i class="fa-solid fa-envelope"></i>support&#64;adcuesta.com</a></li>
                                    <li><a href="tel: +91-9315069261"><i class="fas fa-phone"></i> +91-9315069261</a></li>
                                    <!-- <li><strong>Open Hours:</strong><br>Mon - Sat: 8 am - 5 pm,<br>Sunday: CLOSED</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                        <div class="links-widget footer-widget wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <h3 class="widget-title">
                                <span>Links</span>
                                <i></i>
                            </h3>
                            <div class="widget-content d-flex align-items-start">
                                <ul class="links-list clearfix">
                                    <li><a routerLink="/">Home</a></li>
                                <!-- <li><a href="index.html">About us</a></li> -->
                                    <li><a routerLink="/genai">Gen AI</a></li>
                                    <li><a routerLink="/blog">Blogs</a></li>
                                    <li><a routerLink="/contact">Contact</a></li>
                                </ul>
                                <ul class="links-list clearfix">
                                    <li><a routerLink="/terms"> Terms and Conditions</a></li>
                                    <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 footer-column">
                        <div class="subscribe-widget footer-widget wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <h3 class="widget-title">
                                <span>Newsletter</span>
                                <i></i>
                            </h3>
                            <div class="widget-content">
                                <div class="text"><p>Send us a newsletter to get update</p></div>
                                <form (ngSubmit)="onSubmit()" [formGroup]="subscribeForm" class="subscribe-form">
                                    <div class="form-group">
                                        <input type="email" name="email" placeholder="Your mail address" formControlName="email" required>
                                        <button class="submit"><i class="far fa-paper-plane"></i></button>
                                    </div>
                                </form>
                            </div>
                            <!-- <div class="download-btn clearfix">
                                <figure class="image"><a href="index.html"><img src="/images/app-store.png" alt=""></a></figure>
                                <figure class="image"><a href="index.html"><img src="/images/play-store.png" alt=""></a></figure>
                            </div> -->
                            <ul class="social-links clearfix">
                                <li><a href="https://www.linkedin.com/company/40688309/admin/page-posts/published/ " target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="https://www.facebook.com/profile.php?id=61566952590715"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/adcuesta_media/profilecard/?igsh=MWd1aGhhZ3kyMmZk " target="_blank"><i class="fab fa-instagram"></i></a></li>
                                
                                <!-- <li><a href="index.html"><i class="fab fa-skype"></i></a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="copyright"><p>© Copyright 2024 by Adcuesta media llp. <a href="index.html">All Rights Reserved.</a></p></div>
        </div>
    </div>
</footer>
