<div class="page-title-area" style="background: url('images/ai.jpg');">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="title-item">
                    <h2>Gen AI</h2>
                    <ul>
                        <li>
                            <a href="sass.html">Home</a>
                        </li>
                        <li>
                            <span>Gen AI</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="main-banner overlay-hidden py-3 py-md-5">
    <div class="container position-relative z-1 mb-3">
        <div class="row">
            <div class="col-12 col-md-8 m-auto text-center d-flex flex-column align-items-center gap-3">
                <h1>Transform Your Product Images with <span class="clip-text">AI-Driven Perfection</span></h1>
                <p class="opacity-50 m-0">Say goodbye to dull product photos and hello to breathtaking visuals. Our AI tool crafts stunning product photoshoots that capture every detail, ensuring your products stand out. 
                    Whether you're an e-commerce seller or a brand manager, elevate your visuals effortlessly and leave a lasting impression. 
                    </p>
                <!-- <button type="button" class="btn btn-primary rounded-pill my-3"><span>Get Started for Free</span></button> -->
            </div>
        </div>
    </div>

    
</section>

<section class="what-sets py-3 py-md-5">
    <div class="container">
        <h3 class="mb-3 mb-md-5">What sets us apart? </h3>

        <div class="row g-3">
            <div class="col-12 col-md-4">
                <div class="features-box">
                    <span class="icon">
                        <i class="bx bx-chart clip-text"></i>
                    </span>
                    <a href="#">AI-Powered Precision:</a>
                    <p class="opacity-50">Flawless product images with perfect lighting, angles, and composition. </p>
                    <!-- <a class="d-flex align-items-center gap-1" href="#">Read More <i class='bx bx-right-arrow-alt'></i></a> -->
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="features-box">
                    <span class="icon">
                        <i class="bx bx-chart clip-text"></i>
                    </span>
                    <a href="#">Tailored Aesthetics:</a>
                    <p class="opacity-50"> Customize your photoshoots to match your brand's unique aesthetic. 
                    </p>
                    <!-- <a class="d-flex align-items-center gap-1" href="#">Read More <i class='bx bx-right-arrow-alt'></i></a> -->
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="features-box">
                    <span class="icon">
                        <i class="bx bx-chart clip-text"></i>
                    </span>
                    <a href="#">Instant Results:</a>
                    <p class="opacity-50"> Get high-quality, ready-to-use images instantly, keeping your workflow smooth. </p>
                    <!-- <a class="d-flex align-items-center gap-1" href="#">Read More <i class='bx bx-right-arrow-alt'></i></a> -->
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="features-box">
                    <span class="icon">
                        <i class="bx bx-chart clip-text"></i>
                    </span>
                    <a href="#">Budget-Friendly Solution:</a>
                    <p class="opacity-50">Enjoy premium results without the high costs of traditional photoshoots.
                    </p>
                    <!-- <a class="d-flex align-items-center gap-1" href="#">Read More <i class='bx bx-right-arrow-alt'></i></a> -->
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="features-box">
                    <span class="icon">
                        <i class="bx bx-chart clip-text"></i>
                    </span>
                    <a href="#">Uniform Consistency:</a>
                    <p class="opacity-50">Uniform visual style across all products for a polished brand image. </p>
                    <!-- <a class="d-flex align-items-center gap-1" href="#">Read More <i class='bx bx-right-arrow-alt'></i></a> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-it-work py-3 py-md-5">
    <div class="container">
        <h3 class="text-center mb-3 mb-md-5">How It Works</h3>
        
        <div class="">
            <img src="images/how-it-works.png" alt="">
        </div>

    </div>
</section>

<section class="what-sets py-3 py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 m-auto text-center d-flex flex-column align-items-center gap-3">
                <h3 class="text-center mb-1">Showcase Gallery</h3>
                <p class="mb-3 mb-md-5">Explore our before-and-after gallery to witness the transformative power of AI. 
                    See how our tool turns ordinary product photos into extraordinary visuals.
                    </p>
            </div>
        </div>
        <swiper-container loop="true" pagination="true" navigation="true" slides-per-view="5" space-between="15">
            <swiper-slide>
                <div class="image-box">
                    <img class="rounded-3" src="images/slider-img1.png" alt="">
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="image-box">
                    <img class="rounded-3" src="images/slider-img2.png" alt="">
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="image-box">
                    <img class="rounded-3" src="images/slider-img3.png" alt="">
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="image-box">
                    <img class="rounded-3" src="images/slider-img4.png" alt="">
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="image-box">
                    <img class="rounded-3" src="images/slider-img5.png" alt="">
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="image-box">
                    <img class="rounded-3" src="images/slider-img4.png" alt="">
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="image-box">
                    <img class="rounded-3" src="images/slider-img5.png" alt="">
                </div>
            </swiper-slide>
        </swiper-container>
    </div>
</section>

<section class="features py-3 py-md-5">
    <div class="container">
        <h3 class="text-center mb-3 mb-md-5">Why Choose Our <span class="clip-text">AI Image</span> Creator?</h3>
        <div class="row g-3">
            <div class="col-12 col-md-4">
                <div class="features-box">
                    <span class="icon">
                        <i class="bx bx-chart clip-text"></i>
                    </span>
                    <a href="#">Precision Meets Creativity</a>
                    <p class="opacity-50"> Our AI combines creativity with technology to turn your product photos into captivating stories.</p>
                    <!-- <a class="d-flex align-items-center gap-1" href="#">Read More <i class='bx bx-right-arrow-alt'></i></a> -->
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="features-box">
                    <span class="icon"><i class="bx bx-images clip-text"></i></span>
                    <a href="#">Save Time, Boost Productivity</a>
                    <p class="opacity-50">In a world where time is money, our tool lets you focus on what matters most—growing your business. Let the AI handle the heavy lifting while you enjoy more time for strategic tasks.
                    </p>
                    <!-- <a class="d-flex align-items-center gap-1" href="#">Read More <i class='bx bx-right-arrow-alt'></i></a> -->
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="features-box">
                    <span class="icon"><i class="bx bx-filter clip-text"></i></span>
                    <a href="#">Leave It to the Experts</a>
                    <p class="opacity-50">Forget about the complexities of design and technology. Our team uses advanced AI to create flawless, brand-specific images effortlessly. </p>
                    <!-- <a class="d-flex align-items-center gap-1" href="#">Read More <i class='bx bx-right-arrow-alt'></i></a> -->
                </div>
            </div>
            
        </div>
    </div>
</section>



<section class="testimonials py-3 py-md-5">
    <div class="container">
        <h3 class="text-center mb-3 mb-md-5">Client Success <span class="clip-text">Stories</span></h3>
        <div class="row g-3">
            <div class="col-12 col-md-4">
                <div class="testimonials-box">
                    <div class="userbox">
                        <span><img src="images/user.jpg" alt=""></span>
                        <div class="user-con">
                            <h5>- Sarah M.</h5>
                            <small class="opacity-50">E-commerce Owner</small>
                        </div>
                    </div>
                    <h6>"A Total Game-Changer!"</h6>
                    <p>This tool has completely transformed how I manage my online store. The quality of the images is incredible, and it's so quick and easy to use. <b>- Sarah M., E-commerce Owner</b>
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonials-box">
                    <div class="userbox">
                        <span><img src="images/user.jpg" alt=""></span>
                        <div class="user-con">
                            <h5>– James L.</h5>
                            <small class="opacity-50">Brand Manager</small>
                        </div>
                    </div>
                    <h6>"Professional Results Every Time"</h6>
                    <p>The AI image creator has elevated our brand’s visuals significantly. We no longer have to rely on expensive photoshoots; the tool delivers professional results consistently. <b>- James L., Brand Manager</b></p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonials-box">
                    <div class="userbox">
                        <span><img src="images/user.jpg" alt=""></span>
                        <div class="user-con">
                            <h5>– Emma R.</h5>
                            <small class="opacity-50">Business Owner</small>
                        </div>
                    </div>
                    <h6>"Fast, Effective, and Affordable!"</h6>
                    <p>As a small business owner, finding a cost-effective solution that delivers quality results is crucial. This AI tool has exceeded my expectations on every front. <b>- Emma R., Small Business Owner</b></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="pricing overlay-hidden py-3 py-md-5">
    <div class="container position-relative z-1">
        <h3 class="text-center mb-3 mb-md-5">Affordable <span class="clip-text">Plans</span> for Everyone</h3>
        <div class="row g-3">
            <div class="col-12 col-md-4">
                <div class="pricing-box">
                    <h5>Free</h5>
                    <p class="opacity-50">Basic features for personal use.</p>
                    <div class="pricebox">
                        <div class="price">
                            <span>$</span>0
                        </div>
                        <small>per month</small>
                    </div>
                    <button type="button" class="btn btn-outline-primary rounded-pill">Try For Free</button>
                    <div class="features">
                        <h6>Features:</h6>
                        <ul>
                            <li><i class="bi bi-check2-circle me-1 text-success"></i> 10 mins/wk <span class="opacity-50">of AI generation</span></li>
                            <li><i class="bi bi-check2-circle me-1 text-success"></i> 10 GB <span class="opacity-50">storage</span></li>
                            <li><i class="bi bi-check2-circle me-1 text-success"></i> 4 exports/wk <span class="opacity-50">with invideo logo</span></li>
                            <li><i class="bi bi-x-circle opacity-50 me-1"></i> <span class="opacity-50">2.5M+ standard media</span></li>
                            <li><i class="bi bi-x-circle opacity-50 me-1"></i> <span class="opacity-50">iStock</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="pricing-box">
                    <h5>Pro</h5>
                    <p class="opacity-50">Advanced features for professionals.</p>
                    <div class="pricebox">
                        <div class="price">
                            <span>$</span>20
                        </div>
                        <small>per month</small>
                    </div>
                    <button type="button" class="btn btn-primary rounded-pill">Buy Now</button>
                    <div class="features">
                        <h6>Features:</h6>
                        <ul>
                            <li><i class="bi bi-check2-circle me-1 text-success"></i> 10 mins/wk <span class="opacity-50">of AI generation</span></li>
                            <li><i class="bi bi-check2-circle me-1 text-success"></i> 10 GB <span class="opacity-50">storage</span></li>
                            <li><i class="bi bi-check2-circle me-1 text-success"></i> 4 exports/wk <span class="opacity-50">with invideo logo</span></li>
                            <li><i class="bi bi-x-circle opacity-50 me-1"></i> <span class="opacity-50">2.5M+ standard media</span></li>
                            <li><i class="bi bi-x-circle opacity-50 me-1"></i> <span class="opacity-50">iStock</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="pricing-box">
                    <h5>Enterprise</h5>
                    <p class="opacity-50">Custom solutions for businesses.</p>
                    <div class="pricebox">
                        <div class="price">
                            <span>$</span>40
                        </div>
                        <small>per month</small>
                    </div>
                    <button type="button" class="btn btn-primary rounded-pill">Buy Now</button>
                    <div class="features">
                        <h6>Features:</h6>
                        <ul>
                            <li><i class="bi bi-check2-circle me-1 text-success"></i> 10 mins/wk <span class="opacity-50">of AI generation</span></li>
                            <li><i class="bi bi-check2-circle me-1 text-success"></i> 10 GB <span class="opacity-50">storage</span></li>
                            <li><i class="bi bi-check2-circle me-1 text-success"></i> 4 exports/wk <span class="opacity-50">with invideo logo</span></li>
                            <li><i class="bi bi-x-circle opacity-50 me-1"></i> <span class="opacity-50">2.5M+ standard media</span></li>
                            <li><i class="bi bi-x-circle opacity-50 me-1"></i> <span class="opacity-50">iStock</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="cta overlay-hidden py-3 py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 m-auto">
                <div class="cta-box">
                    <div class="row">
                        <div class="col-12 col-md-5 d-flex align-items-center justify-content-center">
                            <i class="bx bx-headphone clip-text"></i>
                        </div>
                        <div class="col-12 col-md-7">
                            <!-- <h4 class="m-0">Ready to Transform Your Images?</h4> -->
                            <a role="button" href="#" class="btn btn-primary rounded-pill fs-3 px-4 text-center my-3"><span class="w-100">Get Started Now</span></a>
                            <p class="opacity-50 m-0">Don’t settle for average product photos. Try our AI image creator today and discover how easy it is to enhance your brand’s visual appeal. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
