<section class="page-title text-center">
    <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url('../../../images/pattern-21.png');"></div>
        <div class="pattern-2" style="background-image: url('../../../images/pattern-22.png');"></div>
        <div class="pattern-3 float-bob-x" style="background-image: url('../../../images/pattern-23.png');"></div>
    </div>
    <div class="bubble-box">
        <div class="bubble bubble-1" style="background-image: url('../../../images/bubble-14.png');"></div>
        <div class="bubble bubble-2 rotate-me" style="background-image: url('../../../images/bubble-15.png');"></div>
        <div class="bubble bubble-3" style="background-image: url('../../../images/bubble-16.png');"></div>
        <div class="bubble bubble-4"></div>
    </div>
    <div class="container">
        <div class="content-box">
            <h1>mVAS </h1>
            <!-- <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>Services</li>
            </ul> -->
        </div>
    </div>
</section>


<section class="featured-section bg-color-1">
    <div class="bubble-dotted">
        <span class="dotted dotted-1"></span>
        <span class="dotted dotted-2"></span>
        <span class="dotted dotted-3"></span>
        <span class="dotted dotted-4"></span>
        <span class="dotted dotted-5"></span>
        <span class="dotted dotted-6"></span>
        <span class="dotted dotted-7"></span>
        <span class="dotted dotted-8"></span>
        <span class="dotted dotted-9"></span>
        <span class="dotted dotted-10"></span>
    </div>
    <div class="container">
        <div class="sec-title text-center">
            <div class="title"><i class="fas fa-gem"></i><span>Fetaured service</span></div>
            <h3>Powering Mobile Experiences</h3>
            <p>Boost Engagement and Performance Through Tailored Mobile Solutions.</p>
        </div>
        
        <div class="row g-3 wow animate__zoomIn animate__animated" data-wow-delay="300ms" data-wow-duration="1500ms" >
            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="hover-content"></div>
                    <div class="inner-box">
                        <img src="/images/service/mvas/publisher.svg">
                        <h4><a href="index.html">Publisher </a></h4>
                        <div class="text">
                            <p>Adcuesta acts as a publisher, distributing your mobile value-added services to the right users, ensuring high engagement and optimal reach.</p>
                        </div>
                        <!-- <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="hover-content"></div>
                    <div class="inner-box">
                        <!-- <div class="icon-box"><i class="fa-solid fa-arrow-up-right-dots"></i></div> -->
                        <img src="/images/service/mvas/advertiser.svg">
                        <h4><a href="index.html">Advertiser</a></h4>
                        <div class="text">
                            <p>Adcuesta serves as a top Advertiser Ad Network for telecom brands. We provide high-quality in-house mVAS content for different regions, engaging and entertaining users everywhere.</p>
                        </div>
                        <!-- <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="hover-content"></div>
                    <div class="inner-box">
                        <!-- <div class="icon-box"><i class="fa-solid fa-icons"></i></div> -->
                        <img src="/images/service/mvas/content-creation.svg">
                        <h4><a href="index.html">Content Creation (Web/ App)</a></h4>
                        <div class="text">
                            <p>Adcuesta specializes in creating engaging web and app content. From stunning visuals to captivating copy, we make sure your digital presence stands out and keeps users coming back.</p>
                        </div>
                        <!-- <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="hover-content"></div>
                    <div class="inner-box">
                        <!-- <div class="icon-box"><i class="fa-solid fa-comments"></i></div> -->
                        <img src="/images/service/mvas/media-buying.svg">
                        <h4><a href="index.html">Media Buying – DSP, SSP</a></h4>
                        <div class="text">
                            <p>With Adcuesta’s media buying services, we handle all the complexities of DSP and SSP. We strategically place your ads where they'll perform best, maximizing your return on investment.
                            </p>
                        </div>
                        <!-- <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="hover-content"></div>
                    <div class="inner-box">
                        <!-- <div class="icon-box"><i class="fa-solid fa-comments"></i></div> -->
                        <img src="/images/service/mvas/performence-marketing.svg">
                        <h4><a href="index.html">Performance Marketing
                        </a></h4>
                        <div class="text">
                            <p>Adcuesta's performance marketing is all about results. We use data-driven strategies to boost your conversions and grow your business, ensuring every marketing dollar works hard for you.</p>
                        </div>
                        <!-- <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="hover-content"></div>
                    <div class="inner-box">
                        <!-- <div class="icon-box"><i class="fa-solid fa-comments"></i></div> -->
                        <img src="/images/service/mvas/fraud-prevention.svg">
                        <h4><a href="index.html">Fraud Prevention
                        </a></h4>
                        <div class="text">
                            <p>Protect your digital campaigns with Adcuesta’s robust fraud prevention. We use advanced techniques to detect and stop fraudulent activities, keeping your investments safe and effective.</p>
                        </div>
                        <!-- <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="hover-content"></div>
                    <div class="inner-box">
                        <!-- <div class="icon-box"><i class="fa-solid fa-comments"></i></div> -->
                        <img src="/images/service/mvas/affilate-tracking-tool.svg">
                        <h4><a href="index.html">In-house Affiliate Tracking Tool
                        </a></h4>
                        <div class="text">
                            <p>Track and optimize your affiliate marketing efforts with Adcuesta’s in-house tool. Our easy-to-use platform gives you clear insights to manage partnerships and drive more sales.
                            </p>
                        </div>
                        <!-- <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div> -->
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="hover-content"></div>
                    <div class="inner-box">
                        <div class="icon-box"><i class="fa-solid fa-comments"></i></div>
                        <h4><a href="index.html">Email Marketing</a></h4>
                        <div class="text">
                            <p>Drive sales, build and support a wide range of initiatives through a strategic email.</p>
                        </div>
                     
                    </div>
                </div>
            </div> -->

        </div>

    </div>
</section>

