<section class="banner-section">
    <div class="bg-layer" style="background-image: url('../../../../images/banner-1.png');"></div>
    <div class="shap-layer" style="background-image: url('../../../../images/shap-1.png');"></div>
    <div class="vector-icon">
        <div class="vector vector-1" style="background-image: url('../../../../images/bird-1.png');"></div>
        <div class="vector vector-2" style="background-image: url('../../../../images/bird-2.png');"></div>
        <div class="vector vector-3 rotate-me" style="background-image: url('../../../../images/gear-1.png');"></div>
        <div class="vector vector-4 float-bob-y" style="background-image: url('../../../../images/rocket-1.png');"></div>
        <div class="vector vector-5 wow slideInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="background-image: url('../../../../images/women-1.png'); visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: slideInRight;"></div>
        <div class="vector vector-6" style="background-image: url('../../../../images/cloud-1.png');"></div>
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content-box">
                    <h1>AI That Transforms Your Brand Into an Experience!</h1>
                    <div class="text wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                        <p>Unlock growth with our AI-driven marketing solutions that connect you with the right audience, boost engagement, and make your brand stand out. </p>
                    </div>
                    <div class="btn-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp;">
                        <!-- <a href="about.html" class="theme-btn style-one me-3"><i class="fas fa-user"></i>About team</a> -->
                        <a href="contact.html" class="theme-btn style-two"><i class="fas fa-paper-plane"></i>Experience the Future of Marketing</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sliding-text-one">
    <div class="sliding-text-one__animate-text">
        <span>Transforming Brands with Cutting-Edge AI and Data-Driven Strategies.</span>
        <img src="/images/star.png" alt="star image">
        <!-- <span>SEO</span>
        <img src="/images/star.png" alt="star image">
        <span>Web Design</span>
        <img src="/images/star.png" alt="star image">
        <span>Content Creation</span>
        <img src="/images/star.png" alt="star image"> -->
    </div><!-- /.sliding-text-one__animate-text -->
</section>

<section class="about-section">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div id="image_block_01">
                    <div class="image-box js-tilt" data-tilt data-tilt-glare="true" data-tilt-scale="1.1">
                        <div class="pattern-layer-1 wow animate__slideInLeft animate__animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="background-image: url('../../../../images/pattern-1.png'); visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: slideInLeft;"></div>
                        <div class="pattern-layer-2" data-wow-duration="1500ms" style="background-image: url('../../../../images/pattern-2.png');"></div>
                        <figure class="image wow animate__slideInDown animate__animated position-relative z-1" data-wow-delay="0ms" data-wow-duration="1500ms"><img src="../../../../images/about-1.png" alt=""></figure>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;"><div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 940px; height: 940px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div></div></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="content_block_01">
                    <div class="content-box">
                        <div class="sec-title wow animate__fadeInDown animate__animated" data-wow-delay="0ms">
                            <div class="title"><i class="fas fa-user"></i><span>About company</span></div>
                            <h3>We are the Full-service Partner
                                <br><span>in Your Business Journey!</span></h3>
                        </div>
                        <div class="text wow animate__fadeInUp animate__animated" data-wow-delay="0ms">
                            <p>At Adcuesta, we’re more than just a brand marketing agency—we’re your partner in growth. With years of experience under our belt, we’ve mastered the art of combining creative strategy with AI-powered solutions. We craft marketing campaigns that don’t just reach your audience, but engage them in ways that truly matter.</p>
                            <p>But we don’t stop there. Adcuesta also offers Mobile Value-Added Services (mVAS), helping businesses stay connected with their customers in an increasingly mobile world. We’ve been perfecting this for a long time, delivering proven results across various industries.</p>
                            <p>Driven by innovation and powered by AI, we’re here to make your brand stand out in a fast-paced digital landscape. Let us help you transform ideas into impactful experiences, backed by our expertise and passion for excellence.</p>
                        </div>
                        <div class="btn-box wow animate__fadeInUp animate__animated" data-wow-delay="300ms"><a href="about.html" class="theme-btn style-three"><i class="fas fa-feather"></i>Read more</a></div>
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</section>

<section class="chooseus-section bg-color-1">
    <div class="vector-icon">
        <div class="vector vector-1" style="background-image: url('../../../images/cloud-2.png');"></div>
        <div class="vector vector-2" style="background-image: url('../../../images/cloud-3.png');"></div>
    </div>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="content_block_02">
                    <div class="content-box">
                        <div class="sec-title wow animate__fadeInDown animate__animated mb-3" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <!-- <div class="title"><i class="fas fa-star"></i><span>Title here</span></div> -->
                            <h3>At Adcuesta,</h3>
                            <p>we craft unforgettable brand experiences that truly connect with your audience.</p>
                        </div>
                        <div class="inner-box wow animate__fadeInUp animate__animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <!-- <h4 class="mb-3">Let’s Collaborate</h4> -->
                            <div class="btn-box wow animate__fadeInUp animate__animated" data-wow-delay="300ms"><a href="about.html" class="theme-btn style-three"><i class="fas fa-feather"></i>Let’s Collaborate</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <figure class="image position-relative z-1 wow animate__slideInRight animate__animated" data-wow-delay="00ms" data-wow-duration="1500ms"><img src="/images/illastration-1.png" alt=""></figure>
            </div>
        </div>
    </div>
</section>

<section class="service-section">
    <div #parallaxScene class="parallax-scene parallax-scene-3 parallax-icon">
        <span data-depth="0.40" class="parallax-layer icon bubble-1" style="background-image: url('../../../../images/bubble-1.png'); transform: translate3d(20.6px, -35.4px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"></span>
        <span data-depth="0.50" class="parallax-layer icon bubble-2" style="background-image: url('../../../../images/bubble-2.png'); transform: translate3d(25.8px, -44.2px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"></span>
        <span data-depth="0.30" class="parallax-layer icon bubble-3" style="background-image: url('../../../../images/bubble-3.png'); transform: translate3d(15.5px, -26.5px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"></span>
        <span data-depth="0.40" class="parallax-layer icon bubble-4" style="background-image: url('../../../../images/bubble-4.png'); transform: translate3d(20.6px, -35.4px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"></span>
    </div>
    <div class="container">
        <div class="sec-title text-center wow animate__fadeInDown animate__animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInDown;">
            <div class="title"><i class="fas fa-cog"></i><span>Our Service</span></div>
            <h3>Elevate Your Brand with <span>Smart Solutions</span></h3>
            <p>Adcuesta delivers innovative marketing and mobile solutions to amplify your brand’s reach and impact.</p>
        </div>
        <div class="row clearfix d-flex justify-content-center">
            <!-- <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                <div class="service-block-one wow animate__flipInY animate__animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="icon-box">
                            <div class="anim-icon wow animate__zoomIn animate__animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="icon icon-1"></div>
                                <div class="icon icon-2"></div>
                                <div class="icon icon-3"></div>
                            </div>
                            <img src="/images/service-1.png" alt="">
                        </figure>
                        <h4><a href="#">Elevate Your Brand with Smart Solutions</a></h4>
                        <div class="text">
                            <p>Adcuesta delivers innovative marketing and mobile solutions to amplify your brand’s reach and impact.</p>
                        </div>
                        <div class="link"><a href="#">+</a></div>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                <div class="service-block-one wow animate__flipInY animate__animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="icon-box">
                            <div class="anim-icon wow animate__zoomIn animate__animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                                <div class="icon icon-1"></div>
                                <div class="icon icon-2"></div>
                                <div class="icon icon-3"></div>
                            </div>
                            <img src="/images/service-2.png" alt="">
                        </figure>
                        <h4><a href="service-details.html">Digital Marketing</a></h4>
                        <div class="text">
                            <p>Unlock your brand’s potential with our comprehensive digital marketing strategies, including SEO, social media, and content marketing, designed to drive engagement and results.</p>
                        </div>
                        <div class="link"><a href="service-details.html">+</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                <div class="service-block-one wow animate__flipInY animate__animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="icon-box">
                            <div class="anim-icon wow animate__zoomIn animate__animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                                <div class="icon icon-1"></div>
                                <div class="icon icon-2"></div>
                                <div class="icon icon-3"></div>
                            </div>
                            <img src="/images/service-3.png" alt="">
                        </figure>
                        <h4><a href="service-details.html">mVAS (Mobile Value-Added Services)
                        </a></h4>
                        <div class="text">
                            <p>Your content is an integral part of your SEO efforts online marketing strategy. Make sure your content generates.</p>
                        </div>
                        <div class="link"><a href="service-details.html">+</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- <section class="featured-section bg-color-1">
    <div class="bubble-dotted">
        <span class="dotted dotted-1"></span>
        <span class="dotted dotted-2"></span>
        <span class="dotted dotted-3"></span>
        <span class="dotted dotted-4"></span>
        <span class="dotted dotted-5"></span>
        <span class="dotted dotted-6"></span>
        <span class="dotted dotted-7"></span>
        <span class="dotted dotted-8"></span>
        <span class="dotted dotted-9"></span>
        <span class="dotted dotted-10"></span>
    </div>
    <div class="container">
        <div class="sec-title text-center">
            <div class="title"><i class="fas fa-gem"></i><span>Fetaured service</span></div>
            <h3>Additional Services that will<br><span>Grow Your Business</span></h3>
            <p>As a SEO Advisor or web crawler expert, I help organizations adjust to<br>the expanding significance of internet promoting.</p>
        </div>
        <div class="tabs-box wow animate__zoomIn animate__animated" data-wow-delay="300ms" data-wow-duration="1500ms">
            <div class="tab-content">
                <div class="tab-pane fade show active wow animate__zoomIn animate__animated" id="tab1-pane">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                            <div class="feature-block-one">
                                <div class="hover-content"></div>
                                <div class="inner-box">
                                    <div class="icon-box"><i class="fa-solid fa-gear"></i></div>
                                    <h4><a href="index.html">Pay-Per-Click</a></h4>
                                    <div class="text">
                                        <p>Google Ad campaigns are an effective way to target receptive audience they get you.</p>
                                    </div>
                                    <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                            <div class="feature-block-one">
                                <div class="hover-content"></div>
                                <div class="inner-box">
                                    <div class="icon-box"><i class="fa-solid fa-arrow-up-right-dots"></i></div>
                                    <h4><a href="index.html">Branding</a></h4>
                                    <div class="text">
                                        <p>Make sure your brand assets contribute to your company’s personality and reputation.</p>
                                    </div>
                                    <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                            <div class="feature-block-one">
                                <div class="hover-content"></div>
                                <div class="inner-box">
                                    <div class="icon-box"><i class="fa-solid fa-icons"></i></div>
                                    <h4><a href="index.html">Content Marketing</a></h4>
                                    <div class="text">
                                        <p>Your content is an integral part of your SEO efforts and online marketing strategy.</p>
                                    </div>
                                    <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                            <div class="feature-block-one">
                                <div class="hover-content"></div>
                                <div class="inner-box">
                                    <div class="icon-box"><i class="fa-solid fa-comments"></i></div>
                                    <h4><a href="index.html">Email Marketing</a></h4>
                                    <div class="text">
                                        <p>Drive sales, build and support a wide range of initiatives through a strategic email.</p>
                                    </div>
                                    <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade wow animate__zoomIn animate__animated" id="tab2-pane">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                            <div class="feature-block-one">
                                <div class="hover-content"></div>
                                <div class="inner-box">
                                    <div class="icon-box"><i class="flaticon-configuration"></i></div>
                                    <h4><a href="index.html">Digital marketing</a></h4>
                                    <div class="text">
                                        <p>Google Ad campaigns are an effective way to target receptive audience they get you.</p>
                                    </div>
                                    <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                            <div class="feature-block-one">
                                <div class="hover-content"></div>
                                <div class="inner-box">
                                    <div class="icon-box"><i class="flaticon-statistics"></i></div>
                                    <h4><a href="index.html">Web Design</a></h4>
                                    <div class="text">
                                        <p>Make sure your brand assets contribute to your company’s personality and reputation.</p>
                                    </div>
                                    <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                            <div class="feature-block-one">
                                <div class="hover-content"></div>
                                <div class="inner-box">
                                    <div class="icon-box"><i class="flaticon-social-media"></i></div>
                                    <h4><a href="index.html">Custom Software</a></h4>
                                    <div class="text">
                                        <p>Your content is an integral part of your SEO efforts and online marketing strategy.</p>
                                    </div>
                                    <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                            <div class="feature-block-one">
                                <div class="hover-content"></div>
                                <div class="inner-box">
                                    <div class="icon-box"><i class="flaticon-chat"></i></div>
                                    <h4><a href="index.html">Email Marketing</a></h4>
                                    <div class="text">
                                        <p>Drive sales, build and support a wide range of initiatives through a strategic email.</p>
                                    </div>
                                    <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-btn-box">
                <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="tab1" data-bs-toggle="tab" data-bs-target="#tab1-pane" type="button" role="tab" aria-controls="tab1-pane" aria-selected="true"></button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="tab2" data-bs-toggle="tab" data-bs-target="#tab2-pane" type="button" role="tab" aria-controls="tab2-pane" aria-selected="false"></button>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section> -->


<section class="fun-facts">
    <div class="map-shap" style="background-image: url('../../../images/map-shap-1.png');"></div>
    <div class="container">
        <div class="sec-title text-center wow animate__fadeInDown animate__animated" data-wow-delay="300ms" data-wow-duration="1500ms">
            <div class="title"><i class="fas fa-heart"></i><span>Fun Facts</span></div>
            <h3>Delivering Excellence Globally
                <!-- <br><span>Funfacts for experiences</span> -->
            </h3>
            <!-- <p>We conduct deep research before we start any project for our clients.<br>Our state of art SEO Audit Software help us to run.</p> -->
        </div>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12 block-column">
                <div class="counter-block-one">
                    <div class="counter-block wow animate__slideInUp animate__animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="count-outer count-box counted">
                            <span class="count-text" data-speed="1500" data-stop="24">95</span><span>%</span>
                        </div>
                        <h3><span>Client</span>Retention Rate</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 block-column">
                <div class="counter-block-one">
                    <div class="counter-block wow animate__slideInUp animate__animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="count-outer count-box counted">
                            <span class="count-text" data-speed="1500" data-stop="36">25</span><span>+</span>
                        </div>
                        <h3><span>Goals</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 block-column">
                <div class="counter-block-one">
                    <div class="counter-block wow animate__slideInUp animate__animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                        <div class="count-outer count-box counted">
                            <span class="count-text" data-speed="1500" data-stop="15">7</span><span>+</span>
                        </div>
                        <h3><span>Digital</span>Products</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 block-column">
                <div class="counter-block-one">
                    <div class="counter-block wow animate__slideInUp animate__animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="count-outer count-box counted">
                            <span class="count-text" data-speed="1500" data-stop="110">24</span><span>/7</span>
                        </div>
                        <h3><span>Customer</span>Support</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="chooseus-section bg-color-1">
    <div class="vector-icon">
        <div class="vector vector-1" style="background-image: url('../../../images/cloud-2.png');"></div>
        <div class="vector vector-2" style="background-image: url('../../../images/cloud-3.png');"></div>
    </div>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="content_block_02">
                    <div class="content-box">
                        <div class="sec-title wow animate__fadeInDown animate__animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="title"><i class="fas fa-star"></i><span>Why you choose us?</span></div>
                            <h3>What to expect when you
                                <span>work with us?</span></h3>
                            <p>We’re not just a Digital Service Provider - We’re your Partner In Performance. </p>
                        </div>
                        <div class="inner-box wow animate__fadeInUp animate__animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="single-item">
                                <figure class="icon-box"><img src="/images/icon-1.png" alt=""></figure>
                                <h3><a href="index.html">ROI-Driven Results
                                </a></h3>
                                <div class="text">
                                    <p>We focus on strategies that deliver measurable outcomes, ensuring every investment translates into tangible returns.</p>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="icon-box"><img src="/images/icon-2.png" alt=""></figure>
                                <h3><a href="index.html">Agile Approach
                                </a></h3>
                                <div class="text">
                                    <p>Our team adapts quickly to market changes and client needs, providing flexible solutions that keep you ahead of the curve.</p>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="icon-box"><img src="/images/icon-1.png" alt=""></figure>
                                <h3><a href="index.html">Passion for Innovation 

                                </a></h3>
                                <div class="text">
                                    <p>We embrace the latest technologies and creative strategies, always pushing the boundaries to deliver exceptional results.</p>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="icon-box"><img src="/images/icon-2.png" alt=""></figure>
                                <h3><a href="index.html">Personalized Service

                                </a></h3>
                                <div class="text">
                                    <p>Every project is unique. We tailor our solutions to fit your specific goals and challenges, ensuring a perfect fit for your brand.</p>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="icon-box"><img src="/images/icon-2.png" alt=""></figure>
                                <h3><a href="index.html">Data-Driven Insights


                                </a></h3>
                                <div class="text">
                                    <p>Our decisions are backed by data, providing you with actionable insights that guide strategy and drive growth.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div id="image_block_02">
                    <div class="image-box js-tilt" style="will-change: transform; transform: perspective(700px) rotateX(0deg) rotateY(0deg);">
                        <div class="bg-layer wow zoomIn animated animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="background-image: url('../../../../images/image-bg-1.png'); visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: zoomIn;"></div>
                        <figure class="image position-relative z-1 wow slideInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: slideInRight;"><img src="/images/illastration-1.png" alt=""></figure>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;"><div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 1240px; height: 1240px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div></div></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="news-section">
    <div #parallaxScene2 class="parallax-scene parallax-scene-4 parallax-icon">
        <span data-depth="0.40" class="parallax-layer icon bubble-1" style="background-image: url('../../../../images/bubble-1.png'); transform: translate3d(11.8px, -35.6px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"></span>
        <span data-depth="0.50" class="parallax-layer icon bubble-2" style="background-image: url('../../../../images/bubble-5.png'); transform: translate3d(14.8px, -44.5px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"></span>
        <span data-depth="0.30" class="parallax-layer icon bubble-3" style="background-image: url('../../../../images/bubble-6.png'); transform: translate3d(8.9px, -26.7px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"></span>
        <span data-depth="0.40" class="parallax-layer icon bubble-4" style="background-image: url('../../../../images/bubble-7.png'); transform: translate3d(11.8px, -35.6px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"></span>
    </div>
    <div class="container">
        <div class="sec-title text-center">
            <div class="title"><i class="fa-solid fa-comment-dots"></i><span>Fetaured Blog</span></div>
            <h3>Our Latest Pieces</h3>
            <p>Expert Insights and Actionable Tips for Your Business Growth. 
            </p>
        </div>
        
        <owl-carousel-o [options]="customOptions">

            <ng-template carouselSlide>
                <div class="news-block-one wow animate__fadeInUp animate__animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="/images/1_SEO Mistakes to Avoid_ Common Pitfalls and How to Fix Them.png" alt="">
                            <div class="overlay-box">
                                <a href="blog-details.html" class="link-btn"><i class="fa-solid fa-link"></i></a>
                            </div>
                        </figure>
                        <div class="lower-content">
                            <!-- <figure class="author-image"><img src="/images/author-1.png" alt=""></figure> -->
                            <!-- <ul class="post-info clearfix">
                                <li>Digital Agency</li>
                                <li>Dec 12, 2019</li>
                            </ul> -->
                            <h3><a href="blog-details.html">SEO Mistakes to Avoid: Common Pitfalls and How to Fix Them!</a></h3>
                            <!-- <div class="lower-box">
                                <div class="admin"><span>by</span>&nbsp;<a href="blog-details.html">Tailor Clif</a></div>
                                <div class="link-box"><a href="blog-details.html">+<span>Read more</span></a></div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="news-block-one wow animate__fadeInUp animate__animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="/images/3_Content Marketing Ethics_ Balancing Authenticity and Persuasion.png" alt="">
                            <div class="overlay-box">
                                <a href="blog-details.html" class="link-btn"><i class="fa-solid fa-link"></i></a>
                            </div>
                        </figure>
                        <div class="lower-content">
                            <!-- <figure class="author-image"><img src="/images/author-2.png" alt=""></figure>
                            <ul class="post-info clearfix">
                                <li>Digital Agency</li>
                                <li>Dec 12, 2019</li>
                            </ul> -->
                            <h3><a href="blog-details.html">Content Marketing Ethics: Balancing Authenticity and Persuasion!</a></h3>
                            <!-- <div class="lower-box">
                                <div class="admin"><span>by</span>&nbsp;<a href="blog-details.html">Tailor Clif</a></div>
                                <div class="link-box"><a href="blog-details.html">+<span>Read more</span></a></div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </ng-template> 

            <ng-template carouselSlide>
                <div class="news-block-one wow animate__fadeInUp animate__animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="/images/2_Security and Fraud Prevention in Direct Carrier Billing_ How Safe Are We_.png" alt="">
                            <div class="overlay-box">
                                <a href="blog-details.html" class="link-btn"><i class="fa-solid fa-link"></i></a>
                            </div>
                        </figure>
                        <div class="lower-content">
                            <!-- <figure class="author-image"><img src="/images/author-3.png" alt=""></figure>
                            <ul class="post-info clearfix">
                                <li>Digital Agency</li>
                                <li>Dec 12, 2019</li>
                            </ul> -->
                            <h3><a href="blog-details.html">Security and Fraud Prevention in Direct Carrier Billing</a></h3>
                            <!-- <div class="lower-box">
                                <div class="admin"><span>by</span>&nbsp;<a href="blog-details.html">Tailor Clif</a></div>
                                <div class="link-box"><a href="blog-details.html">+<span>Read more</span></a></div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </ng-template> 

            <!-- <ng-template carouselSlide>
                <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="/images/news-1.jpg" alt="">
                            <div class="overlay-box">
                                <a href="blog-details.html" class="link-btn"><i class="fa-solid fa-link"></i></a>
                            </div>
                        </figure>
                        <div class="lower-content">
                            <figure class="author-image"><img src="/images/author-1.png" alt=""></figure>
                            <ul class="post-info clearfix">
                                <li>Digital Agency</li>
                                <li>Dec 12, 2019</li>
                            </ul>
                            <h3><a href="blog-details.html">Additional Services that will Grow Your Business for you!</a></h3>
                            <div class="lower-box">
                                <div class="admin"><span>by</span>&nbsp;<a href="blog-details.html">Tailor Clif</a></div>
                                <div class="link-box"><a href="blog-details.html">+<span>Read more</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>  -->

          </owl-carousel-o>

    </div>
</section>

<section class="subscribe-section">
    <div class="vector-icon">
        <div class="vector vector-1" style="background-image: url('../../../../images/cloud-4.png');"></div>
        <div class="vector vector-2" style="background-image: url('../../../../images/cloud-5.png');"></div>
        <div class="vector vector-3" style="background-image: url('../../../../images/cloud-6.png');"></div>
        <div class="vector vector-4 float-bob-y" style="background-image: url('../../../../images/rocket-2.png');"></div>
        <div class="vector vector-5 wow animate__bounceInDown animate__animated" data-wow-delay="500ms" data-wow-duration="1500ms" style="background-image: url('../../../../images/coin-1.png');"></div>
        <div class="vector vector-6 wow animate__slideInLeft animate__animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="background-image: url('../../../../images/coin-1.png');"></div>
    </div>
    <div class="bubble-dotted">
        <span class="dotted dotted-1"></span>
        <span class="dotted dotted-2"></span>
        <span class="dotted dotted-3"></span>
        <span class="dotted dotted-4"></span>
        <span class="dotted dotted-5"></span>
        <span class="dotted dotted-6"></span>
        <span class="dotted dotted-7"></span>
        <span class="dotted dotted-8"></span>
        <span class="dotted dotted-9"></span>
        <span class="dotted dotted-10"></span>
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-xl-7 col-lg-12 col-md-12 offset-xl-5 content-column">
                <div class="content-box">
                    <h2>Weekly <span>Newsletter !</span></h2>
                    <h6>Subscribe to our Newsletter! 
                    </h6>
                    <h6>Stay up-to-date with the latest industry trends

                    </h6>
                    <form action="index.html" method="post" class="subscribe-form">
                        <div class="form-group">
                            <input type="email" name="email" placeholder="email address" required="">
                            <button type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>