<div class="banner-area three">
    <div class="banner-shape">
        <img src="/images/banner-main.jpg" alt="Banner">
        <img src="/images/banner-shape1.png" alt="Banner">
        <img src="/images/banner-shape2.png" alt="Banner">
        <img src="/images/banner-shape3.png" alt="Banner">
        <img src="/images/banner-shape2.png" alt="Banner">
        <img src="/images/banner-shape3.png" alt="Banner">
    </div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-start  justify-content-center">
                    <div class="col-lg-7">
                        <div class="banner-content">
                            <!-- <span>Your Desire Agency</span> -->
                            <h1>Empowering Brands<br>
                                with <span>Innovation and AI</span></h1>
                            <p>At Adcuesta, we combine cutting-edge <b>brand marketing strategies, mobile value-added services,</b> and the <b>power of AI</b> to elevate your digital presence. </p>
                            <p>Let's shape the future of your brand together.</p>
                        </div>
                        <button type="button" class="btn btn-primary rounded-pill rotrate-icon banner-btn" routerLink="/contact">
                            <span class="z-1">Contact Us</span>
                            <i class='bx bx-plus'></i>
                        </button>
                    </div>
                    <div class="col-lg-5">
                        <div class="banner-img">
                            <img src="/images/home-banner.png" alt="Banner">
                            <img src="/images/banner-shaper1.png" alt="Shape">
                            <img src="/images/banner-shaper2.png" alt="Shape">
                            <img src="/images/banner-shaper3.png" alt="Shape">
                            <img src="/images/banner-shaper4.png" alt="Shape">
                            <img src="/images/banner-shaper5.png" alt="Shape">
                            <img src="/images/banner-shaper6.png" alt="Shape">
                            <img src="/images/banner-shaper7.png" alt="Shape">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
               <div class="cta-item p-relative wow tpfadeUp" data-wow-duration=".7s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 0.7s; animation-delay: 0.5s; animation-name: tpfadeUp;">
                  <h3 class="cta-big-text"><a href="#">Think.</a></h3>
                  <div class="cta-effect-img">
                     <img src="assets/img/cta/cta-2.png" alt="">
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
               <div class="cta-item p-relative wow tpfadeUp" data-wow-duration=".7s" data-wow-delay=".7s" style="visibility: visible; animation-duration: 0.7s; animation-delay: 0.7s; animation-name: tpfadeUp;">
                  <h3 class="cta-big-text"><a href="#">Make.</a></h3>
                  <div class="cta-effect-img">
                     <img src="assets/img/cta/cta-3.png" alt="">
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
               <div class="cta-item p-relative wow tpfadeUp" data-wow-duration=".7s" data-wow-delay=".9s" style="visibility: visible; animation-duration: 0.7s; animation-delay: 0.9s; animation-name: tpfadeUp;">
                  <h3 class="cta-big-text"><a href="#">Solve.</a></h3>
                  <div class="cta-effect-img">
                     <img src="assets/img/cta/cta-4.png" alt="">
                  </div>
               </div>
            </div>
        </div>
    </div>
</div>

<!-- Services -->
<section class="service-area pb-3 pb-md-5">
    <div class="container">
        <div class="section-title three mb-3">
            <!-- <span class="sub-title">Our Core Services</span> -->
            <h2>Unmatched Expertise, Innovative Solutions, Proven Results</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="service-item-three">
                    <div class="service-link pb-5">
                        <img src="/images/integrated-services.svg" alt="Shape">
                        <!-- <a href="/">
                            <i class='bx bx-search-alt'></i>
                        </a> -->
                    </div>
                    <h3><a>Integrated Service Spectrum</a></h3>
                    <p>Adcuesta offers a seamless blend of branding and mobile value-added services, ensuring all aspects of your digital presence are managed cohesively. This integration provides unparalleled convenience and effectiveness, setting us apart in the industry.</p>
                    
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-item-three two">
                    <div class="service-link pb-5">
                        <img src="/images/cutting-edge-technology-and-tools.svg" alt="Shape">
                        <!-- <a href="/">
                            <i class='bx bx-link-alt' ></i>
                        </a> -->
                    </div>
                    <h3><a>Cutting-Edge Technology and Tools</a></h3>
                    <p>We leverage the latest technology and in-house tools, including advanced media buying strategies and robust fraud prevention mechanisms, ensuring your marketing campaigns are effective and secure. 
                    </p>
                    
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-item-three three">
                    <div class="service-link pb-5">
                        <img src="/images/tailored-result-driven-strategies.svg" alt="Shape">
                        <!-- <a href="/">
                            <img src="/images/tailored-result-driven-strategies.svg" alt="Shape">
                        </a> -->
                    </div>
                    <h3><a>Tailored, Results-Driven Strategies</a></h3>
                    <p>Our client-centric approach involves crafting customized strategies that align with your brand's unique needs and goals, driving measurable results. This personalized focus ensures maximum impact and growth for your brand.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Us -->

<div class="about-area-two">
    <div class="about-shape">
        <img src="/images/about2.png" alt="Shape">
        <img src="/images/about3.png" alt="Shape">
        <img src="/images/about4.png" alt="Shape">
    </div>
    <div class="container p-0">
        <div class="row m-0 align-items-center">
            <div class="col-lg-6 p-0">
                <div class="about-img">
                    <img src="/images/2_New.png" alt="About">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="about-content">
                    <div class="section-title three">
                        <span class="sub-title">About Us</span>
                        <h2>Adcuesta: Where Branding Meets Innovation</h2>
                        <p>At Adcuesta, we are more than just a brand marketing agency; we are your strategic partner in creating impactful and innovative solutions. Our mission is to seamlessly blend creativity with technology, offering a comprehensive range of services that not only enhance your brand’s presence but also deliver cutting-edge mobile value-added services (mVAS).  </p>
                    </div>
                    
                    <button type="button" class="btn btn-primary rounded-pill rotrate-icon"  routerLink="/about">
                        <span class="z-1">Know More...</span>
                        <i class='bx bx-plus'></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service area -->

<section class="service-area four py-3 py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="section-title three mb-3 text-start">
                    <span class="sub-title">Our Services</span>
                    <h2>Elevate Your Brand with Our Expert Services</h2>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="service-item-three services-box services-box-new three" role="button" routerLink="/mvas">
                    <div class="d-flex align-items-start justify-content-between gap-3 gap-md-5">
                        <div class="m-0">
                            <h3><a routerLink="/mvas">mVAS <small>(Mobile Value Added Services)</small></a></h3>
                            <p>Our mobile value-added services offer innovative solutions to optimize user experiences and boost revenue.</p>
                        </div>
                        <div class="service-icon">
                            <a routerLink="/mvas">
                                <img src="images/mVas.svg" alt="">
                                <!-- <i class="bx bx-link-alt"></i> -->
                            </a>
                        </div>
                    </div>
                    
                </div>

                <div class="service-item-three services-box services-box-new" role="button" routerLink="/branding">
                    <div class="d-flex align-items-start justify-content-between  gap-3 gap-md-5">
                        <div class="m-0">
                            <h3><a routerLink="/branding">Branding</a></h3>
                            <p>Our branding services craft compelling strategies to enhance your digital presence and drive engagement.</p>
                        </div>
                        <div class="service-icon">
                            <a routerLink="/branding">
                                <img src="images/Branding.svg" alt="">
                                <!-- <i class="bx bx-link-alt"></i> -->
                            </a>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Blog -->

<section class="blog-area two">
    <div class="container">
        <div  class="section-title three text-center">
            <span class="sub-title">Our News</span>
            <h2>News & Articles</h2>
            <p>Stay Informed with Our Latest Insights and Updates.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item blog-img-one"  routerLink="/SEO-Mistakes-to-Avoid:-Common-Pitfalls-and-How-to-Fix-Them">
                    <div class="blog-img">
                        <img src="/images/1_SEO Mistakes to Avoid_ Common Pitfalls and How to Fix Them.png" alt="Blog">
                    </div>
                    <div class="blog-con p-3">
                        <h3>
                            <a role="button">SEO Mistakes to Avoid: Common Pitfalls and How to Fix Them</a>
                        </h3>
                    </div>
                    
                </div>
            </div>

            
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item blog-img-three" routerLink="/Content-Marketing-Ethics:-Balancing-Authenticity-and-Persuasion">
                    <div class="blog-img">
                        <img src="/images/3_Content Marketing Ethics_ Balancing Authenticity and Persuasion.png" alt="Blog">
                    </div>
                    <div class="blog-con p-3">
                        <h3>
                            <a role="button" >Content Marketing Ethics: Balancing Authenticity and Persuasion
                            </a>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="blog-item blog-img-two" routerLink="/Security-and-Fraud-Prevention-in-Direct-Carrier-Billing:-How-Safe-Are-We">
                    <div class="blog-img">
                        <img src="/images/2_Security and Fraud Prevention in Direct Carrier Billing_ How Safe Are We_.png" alt="Blog">
                    </div>
                    <div class="blog-con p-3">
                        <h3>
                            <a role="button" >Security and Fraud Prevention in Direct Carrier Billing</a>
                        </h3>
                    </div>
                </div>
            </div>


        </div>

        <div class="d-flex align-items-center justify-content-center mt-3">
            <button type="button" class="btn btn-primary rounded-pill rotrate-icon"  routerLink="/blog">
                <span class="z-1">View All</span>
                <i class='bx bx-plus'></i>
            </button>
        </div>

    </div>
</section>

<!-- Newsletter -->

<section class="newsletter-area two py-3 py-md-5">
    <div class="container">
        <div class="section-title three text-center">
            <!-- <span class="sub-title text-center">Newsletter Subscription</span> -->
            <h2 class="text-center">Weekly Newsletter</h2>
        </div>
        <div class="row mt-4 mt-md-5">
            <div class="col-12 col-md-8 m-auto">
                <div class="row d-flex align-items-center">
                    <div class="col-sm-12 col-lg-6">
                        <img src="/images/newsletter.svg" alt="">
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="w-100">
                            <h4>Subscribe to our Newsletter!</h4>
                            <p>Stay up-to-date with the latest industry trends</p>
                            <form id="newsletterForm" novalidate="true" class="w-100">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 w-100">
                                        <div class="form-group w-100">
                                            <label>
                                                <i class="bx bx-mail-send"></i>
                                            </label>
                                            <input type="email" name="email" id="email" class="form-control rounded-pill" placeholder="Email" required="" data-error="Please enter your email">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-12 m-auto">
                                        <button type="button" class="btn btn-primary rotrate-icon w-100 rounded-pill">
                                            <span class="z-1 w-100 text-center">Subscribe</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
        
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

       

    </div>
</section>

<!-- Contact Us -->

<div class="talk-area py-3 py-md-5">
    <div class="talk-shape">
        <img src="/images/talk2.png" alt="Shape">
        <img src="/images/talk3.png" alt="Shape">
    </div>
    <div class="container">
        <div class="row align-items-center  justify-content-center">
            <div class="col-lg-6">
                <div class="talk-img">
                    <img src="/images/3_New.png" alt="Laptop">
                    <img src="/images/talk1.png" alt="Shape">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="talk-content">
                    <div class="section-title three">
                        <span class="sub-title">Let's Talk</span>
                        <h2>Looking for More Traffic, More Leads, and More Engagement?</h2>
                        <p>Accelerate your Growth by Optimizing Each Step you Take Digitally!</p>
                    </div>
                    <button type="button" class="btn btn-primary rounded-pill rotrate-icon" routerLink="/contact">
                        <span class="z-1">Contact Us</span>
                        <i class='bx bx-plus'></i>
                    </button>
                    
                </div>
            </div>
        </div>
    </div>
</div>