<div class="banner-area three">
    <div class="banner-shape">
        <img src="/images/banner-main.jpg" alt="Banner">
        <img src="/images/banner-shape1.png" alt="Banner">
        <img src="/images/banner-shape2.png" alt="Banner">
        <img src="/images/banner-shape3.png" alt="Banner">
        <img src="/images/banner-shape2.png" alt="Banner">
        <img src="/images/banner-shape3.png" alt="Banner">
    </div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center  justify-content-center">
                    <div class="col-lg-7">
                        <div class="banner-content">
                            <span>Your Desire Agency</span>
                            <h1>Digital &amp; Esay Marketing <span>Agency</span></h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Utenim ad minim veniamconsectetur adipisicing </p>
                        </div>
                        <button type="button" class="btn btn-primary rounded-pill rotrate-icon banner-btn">
                            <span class="z-1">Contact Us</span>
                            <i class='bx bx-plus'></i>
                        </button>
                    </div>
                    <div class="col-lg-5">
                        <div class="banner-img">
                            <img src="/images/banner-main.jpg" alt="Banner">
                            <img src="/images/banner-shaper1.png" alt="Shape">
                            <img src="/images/banner-shaper2.png" alt="Shape">
                            <img src="/images/banner-shaper3.png" alt="Shape">
                            <img src="/images/banner-shaper4.png" alt="Shape">
                            <img src="/images/banner-shaper5.png" alt="Shape">
                            <img src="/images/banner-shaper6.png" alt="Shape">
                            <img src="/images/banner-shaper7.png" alt="Shape">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services -->
<section class="service-area pb-70">
    <div class="container">
        <div class="section-title three">
            <span class="sub-title">Our Core Services</span>
            <h2>We Have Better Services With Transparent Solution</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="service-item-three">
                    <h3><a href="service-details.html">Search Engine Optimization &amp; Paid Advertising</a></h3>
                    <p>Lorem ipsum dolor sit ametaut odiut perspiciatis unde omnis iste quuntur alquam quaerat rsit amet</p>
                    <div class="service-link">
                        <img src="/images/service1.png" alt="Shape">
                        <a href="service-details.html">
                            <i class='bx bx-search-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-item-three two">
                    <h3><a href="service-details.html">Link Building And Local Search Strategy</a></h3>
                    <p>Lorem ipsum dolor sit ametaut odiut perspiciatis unde omnis iste quuntur alquam quaerat rsit amet</p>
                    <div class="service-link">
                        <img src="/images/service2.png" alt="Shape">
                        <a href="service-details.html">
                            <i class='bx bx-link-alt' ></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6   col-lg-4">
                <div class="service-item-three three">
                    <h3><a href="service-details.html">Marketing Campaign &amp; Content Creation</a></h3>
                    <p>Lorem ipsum dolor sit ametaut odiut perspiciatis unde omnis iste quuntur alquam quaerat rsit amet</p>
                    <div class="service-link">
                        <img src="/images/service3.png" alt="Shape">
                        <a href="service-details.html">
                            <i class='bx bxl-instagram-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Us -->

<div class="about-area-two pb-70">
    <div class="about-shape">
        <img src="/images/about2.png" alt="Shape">
        <img src="/images/about3.png" alt="Shape">
        <img src="/images/about4.png" alt="Shape">
    </div>
    <div class="container-fluid p-0">
        <div class="row m-0 align-items-center">
            <div class="col-lg-6 p-0">
                <div class="about-img">
                    <img src="/images/about-main.png" alt="About">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="about-content">
                    <div class="section-title three">
                        <span class="sub-title">About Us</span>
                        <h2>We Have Better Services In This City</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiumod tempor incididunt ut labore et dolore magna minimtur </p>
                    </div>
                    <ul>
                        <li>
                            <i class='bx bx-message-square-check' ></i> Complete Marketing Solutions
                        </li>
                        <li>
                            <i class='bx bx-message-square-check' ></i> Experienced Team Members
                        </li>
                        <li>
                            <i class='bx bx-message-square-check' ></i> Outstanding Digital Experience
                        </li>
                        <li>
                            <i class='bx bx-message-square-check' ></i> Flexible Working Hours
                        </li>
                    </ul>
                    <button type="button" class="btn btn-primary rounded-pill rotrate-icon">
                        <span class="z-1">Read More...</span>
                        <i class='bx bx-plus'></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service area -->

<section class="service-area four pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 m-auto">
                <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link rounded-pill py-3 fs-5 active" id="branding" data-bs-toggle="tab" data-bs-target="#branding-pane" type="button" role="tab" aria-controls="branding-pane" aria-selected="true">Branding</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link rounded-pill py-3 fs-5" id="dcb" data-bs-toggle="tab" data-bs-target="#dcb-pane" type="button" role="tab" aria-controls="dcb-pane" aria-selected="false">DCB (Direct Carrier Billing)</button>
                    </li>
                </ul>
            </div>
        </div>
        
          <div class="tab-content mt-5" id="myTabContent">
            <div class="tab-pane fade show active" id="branding-pane" role="tabpanel" aria-labelledby="branding" tabindex="0">
                <div class="row align-items-center  justify-content-center">
                    <div class="col-lg-5">
                        <div class="service-content">
                            <div class="section-title three">
                                <span class="sub-title">Our Services</span>
                                <h2>Don't Worry You're Taking A Good Services</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiumod tempor incididunt ut labore </p>
                            </div>
                            <button type="button" class="btn btn-primary rounded-pill rotrate-icon">
                                <span class="z-1">View Services</span>
                                <i class='bx bx-plus'></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row justify-content-center">
                            <div class="col-sm-6 col-lg-6">
                                <div class="service-inner">
                                    <i class='bx bx-laptop mb-3'></i>
                                    <h3><a href="service-details.html">SEO Optimization</a></h3>
                                    <p>Lorem ipsum dolor sit amet aut odutis unde omnis iste natus aut fugised psum dolor sit amet</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="service-inner">
                                    <i class='bx bx-mobile-alt mb-3'></i>
                                    <h3><a href="service-details.html">Email Marketing</a></h3>
                                    <p>Lorem ipsum dolor sit amet aut odutis unde omnis iste natus aut fugised psum dolor sit amet</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="service-inner">
                                    <i class='bx bx-chart mb-3'></i>
                                    <h3><a href="service-details.html">Advanced Analytics</a></h3>
                                    <p>Lorem ipsum dolor sit amet aut odutis unde omnis iste natus aut fugised psum dolor sit amet</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="service-inner">
                                    <i class='bx bxl-tiktok mb-3'></i>
                                    <h3><a href="service-details.html">Social Media Marketing</a></h3>
                                    <p>Lorem ipsum dolor sit amet aut odutis unde omnis iste natus aut fugised psum dolor sit amet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="dcb-pane" role="tabpanel" aria-labelledby="dcb" tabindex="0">...</div>
          </div>

       
    </div>
</section>

<!-- Blog -->

<section class="blog-area two pt-100 pb-70">
    <div class="container">
        <div class="section-title three">
            <span class="sub-title">Our News</span>
            <h2>Our Latest Blogs</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item blog-img-one">
                    <ul class="top">
                        <li>22nd July, 2024</li>
                        <li>SEO</li>
                    </ul>
                    <h3>
                        <a href="blog-details.html">Multiple Companies For Collecting Emails</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectur adipisicing elit sed do eiumod</p>
                    <ul class="bottom">
                        <li>
                            <img src="/images/blog1.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Alex Dimanov</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item blog-img-two">
                    <ul class="top">
                        <li>30th May, 2024</li>
                        <li>Design</li>
                    </ul>
                    <h3>
                        <a href="blog-details.html">Top Ten Marketing Tricks And Tips</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectur adipisicing elit sed do eiumod</p>
                    <ul class="bottom">
                        <li>
                            <img src="/images/blog2.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Tom Henry</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6   col-lg-4">
                <div class="blog-item blog-img-three">
                    <ul class="top">
                        <li>08th April, 2024</li>
                        <li>Development</li>
                    </ul>
                    <h3>
                        <a href="blog-details.html">Weekly Campiagn For University Of Linkon</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectur adipisicing elit sed do eiumod</p>
                    <ul class="bottom">
                        <li>
                            <img src="/images/blog3.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Jac Jacson</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-primary rounded-pill rotrate-icon">
                <span class="z-1">View All</span>
                <i class='bx bx-plus'></i>
            </button>
        </div>

    </div>
</section>

<!-- Newsletter -->

<section class="newsletter-area two pt-100 pb-70">
    <div class="container">
        <div class="section-title three text-center">
            <span class="sub-title text-center">Newsletter Subscription</span>
            <h2 class="text-center">Weekly Email Newsletter</h2>
        </div>
        <div class="row mt-4 mt-md-5">
            <div class="col-12 col-md-8 m-auto">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <img src="/images/newsletter.svg" alt="">
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="w-100">
                            <h2>Subscribe to our Newsletter!</h2>
                            <p>Subscribe to our Newsletter and stay updated.</p>
                            <form id="newsletterForm" novalidate="true" class="w-100">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 w-100">
                                        <div class="form-group w-100">
                                            <label>
                                                <i class="bx bx-mail-send"></i>
                                            </label>
                                            <input type="email" name="email" id="email" class="form-control rounded-pill" placeholder="Email" required="" data-error="Please enter your email">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <button type="button" class="btn btn-primary rotrate-icon w-100 rounded-pill">
                                            <span class="z-1 w-100 text-center">Subscribe</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
        
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

       

    </div>
</section>

<!-- Contact Us -->

<div class="talk-area pt-100 pb-70">
    <div class="talk-shape">
        <img src="/images/talk2.png" alt="Shape">
        <img src="/images/talk3.png" alt="Shape">
    </div>
    <div class="container">
        <div class="row align-items-center  justify-content-center">
            <div class="col-lg-6">
                <div class="talk-img">
                    <img src="/images/talk-main.png" alt="Laptop">
                    <img src="/images/talk1.png" alt="Shape">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="talk-content">
                    <div class="section-title three">
                        <span class="sub-title">Let's Talk</span>
                        <h2>We’re Taking Project Get Started A Project?</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit magnam, pariatur quisquam quam necessitatibus quod totam quaerat est numquam quo aliquid nam tempore minus unde earum, dicta.</p>
                    </div>
                    <button type="button" class="btn btn-primary rounded-pill rotrate-icon">
                        <span class="z-1">Contact Us</span>
                        <i class='bx bx-plus'></i>
                    </button>
                    
                </div>
            </div>
        </div>
    </div>
</div>