<section class="page-title text-center">
    <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url('../../../images/pattern-21.png');"></div>
        <div class="pattern-2" style="background-image: url('../../../images/pattern-22.png');"></div>
        <div class="pattern-3 float-bob-x" style="background-image: url('../../../images/pattern-23.png');"></div>
    </div>
    <div class="bubble-box">
        <div class="bubble bubble-1" style="background-image: url('../../../images/bubble-14.png');"></div>
        <div class="bubble bubble-2 rotate-me" style="background-image: url('../../../images/bubble-15.png');"></div>
        <div class="bubble bubble-3" style="background-image: url('../../../images/bubble-16.png');"></div>
        <div class="bubble bubble-4"></div>
    </div>
    <div class="container">
        <div class="content-box">
            <h1>Services</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
</section>

<section class="featured-section bg-color-1">
    <div class="bubble-dotted">
        <span class="dotted dotted-1"></span>
        <span class="dotted dotted-2"></span>
        <span class="dotted dotted-3"></span>
        <span class="dotted dotted-4"></span>
        <span class="dotted dotted-5"></span>
        <span class="dotted dotted-6"></span>
        <span class="dotted dotted-7"></span>
        <span class="dotted dotted-8"></span>
        <span class="dotted dotted-9"></span>
        <span class="dotted dotted-10"></span>
    </div>
    <div class="container">
        <div class="sec-title text-center">
            <!-- <div class="title"><i class="fas fa-gem"></i><span>Fetaured service</span></div> -->
            <h3>Additional Services that will<br><span>Grow Your Business</span></h3>
            <p>As a SEO Advisor or web crawler expert, I help organizations adjust to<br>the expanding significance of internet promoting.</p>
        </div>
        
        <div class="row g-3 wow animate__zoomIn animate__animated" data-wow-delay="300ms" data-wow-duration="1500ms" >
            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="hover-content"></div>
                    <div class="inner-box">
                        <div class="icon-box"><i class="fa-solid fa-gear"></i></div>
                        <h4><a href="index.html">Digital Strategy & Consulting</a></h4>
                        <div class="text">
                            <p>Lost in the digital jungle? Don’t worry, we’ve got the map.
                                At Adcuesta, we craft digital strategies that align perfectly with your business goals. Our consulting services guide you through the digital wilds, ensuring your online presence not only survives but thrives.
                                </p>
                        </div>
                        <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="hover-content"></div>
                    <div class="inner-box">
                        <div class="icon-box"><i class="fa-solid fa-arrow-up-right-dots"></i></div>
                        <h4><a href="index.html">Branding</a></h4>
                        <div class="text">
                            <p>We make your social feed so irresistible, people might scroll for dessert.
                                Boost your brand’s visibility with Adcuesta’s Social Media Marketing. We create scroll-stopping content and manage your channels so you can sit back and watch the engagement roll in.
                                </p>
                        </div>
                        <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="hover-content"></div>
                    <div class="inner-box">
                        <div class="icon-box"><i class="fa-solid fa-icons"></i></div>
                        <h4><a href="index.html">SMM (Social Media Marketing)
                        </a></h4>
                        <div class="text">
                            <p>We make your social feed so irresistible, people might scroll for dessert.
                                Boost your brand’s visibility with Adcuesta’s Social Media Marketing. We create scroll-stopping content and manage your channels so you can sit back and watch the engagement roll in.
                                 </p>
                        </div>
                        <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="hover-content"></div>
                    <div class="inner-box">
                        <div class="icon-box"><i class="fa-solid fa-comments"></i></div>
                        <h4><a href="index.html">SEO (Search Engine Optimization)</a></h4>
                        <div class="text">
                            <p>Google loves us, and it will love you too!
                                Get found faster than your keys with Adcuesta’s SEO services. We optimize your website so more organic traffic comes knocking on your digital door.</p>
                        </div>
                        <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="hover-content"></div>
                    <div class="inner-box">
                        <div class="icon-box"><i class="fa-solid fa-gear"></i></div>
                        <h4><a href="index.html">Content Marketing</a></h4>
                        <div class="text">
                            <p>Your story deserves more than a double tap.
                                Adcuesta’s Content Marketing turns your ideas into binge-worthy content. We craft pieces that speak to your audience, leaving them entertained, informed, and coming back for more.</p>
                        </div>
                        <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="hover-content"></div>
                    <div class="inner-box">
                        <div class="icon-box"><i class="fa-solid fa-gear"></i></div>
                        <h4><a href="index.html">Campaign Management</a></h4>
                        <div class="text">
                            <p>We run campaigns like marathons—steady, strategic, and always crossing the finish line.
                                Let Adcuesta take the wheel. We plan, execute, and manage campaigns that get noticed, deliver results, and make your competitors sweat.
                                </p>
                        </div>
                        <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="hover-content"></div>
                    <div class="inner-box">
                        <div class="icon-box"><i class="fa-solid fa-gear"></i></div>
                        <h4><a href="index.html">Paid Marketing</a></h4>
                        <div class="text">
                            <p>>Why throw cash at ads when you can invest smartly and watch it grow?
                            Maximize your ROI with Adcuesta’s Paid Marketing. We design laser-focused ad campaigns that hit the right targets, so you get more bang for your buck.
                                </p>
                        </div>
                        <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="hover-content"></div>
                    <div class="inner-box">
                        <div class="icon-box"><i class="fa-solid fa-gear"></i></div>
                        <h4><a href="index.html">E-commerce Stores – Flipkart & Amazon</a></h4>
                        <div class="text">
                            <p>Making it rain 5-star reviews and orders on Flipkart & Amazon.
                                As your trusted e-commerce consultant, we handle everything from store setup to optimization. We’ll also audit your Flipkart and Amazon accounts, ensuring your products fly off the virtual shelves and leave your competitors in the dust.
                                </p>
                        </div>
                        <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="hover-content"></div>
                    <div class="inner-box">
                        <div class="icon-box"><i class="fa-solid fa-gear"></i></div>
                        <h4><a href="index.html">Web Development</a></h4>
                        <div class="text">
                            <p>Your website shouldn’t just look good, it should work like a charm.
                                At Adcuesta, we build sites that don’t just dazzle—they perform. Fast, user-friendly, and always in style, our websites are built to make your visitors stay longer.</p>
                        </div>
                        <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="hover-content"></div>
                    <div class="inner-box">
                        <div class="icon-box"><i class="fa-solid fa-arrow-up-right-dots"></i></div>
                        <h4><a href="index.html">Design & Development</a></h4>
                        <div class="text">
                            <p>We bring your big ideas to life—minus the unicorns, unless you really want them.
                                Adcuesta’s Design & Development services create stunning visuals and seamless user experiences that make your brand look sharp and professional, no unicorns necessary (but possible).</p>
                        </div>
                        <div class="link"><a href="contact.html">Contact us<i class="fa-solid fa-arrow-right ms-2"></i></a></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

