<section class="page-title text-center">
    <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url('../../../images/pattern-21.png');"></div>
        <div class="pattern-2" style="background-image: url('../../../images/pattern-22.png');"></div>
        <div class="pattern-3 float-bob-x" style="background-image: url('../../../images/pattern-23.png');"></div>
    </div>
    <div class="bubble-box">
        <div class="bubble bubble-1" style="background-image: url('../../../images/bubble-14.png');"></div>
        <div class="bubble bubble-2 rotate-me" style="background-image: url('../../../images/bubble-15.png');"></div>
        <div class="bubble bubble-3" style="background-image: url('../../../images/bubble-16.png');"></div>
        <div class="bubble bubble-4"></div>
    </div>
    <div class="container">
        <div class="content-box">
            <h1>Gen AI</h1>
            <!-- <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>Services</li>
            </ul> -->
        </div>
    </div>
</section>

<section class="gen-ai-sec">
    <div class="container">
        <div class="sec-title text-center">
            <div class="row">
                <div class="col-12 col-md-8 m-auto">
                    <div class="title"><i class="fas fa-gem"></i><span>Gen AI</span></div>
                    <h3>Transform Your Product Images Instantly with Adcuesta’s Gen AI</h3>
                    <p>Say goodbye to dull product photos and hello to breathtaking visuals. Our Gen AI tool harnesses advanced AI technology to deliver stunning visuals quickly and cost-effectively, 
                        providing brands with a powerful edge in today’s competitive market.</p>
                    <h4 class="fw-bold text-primary">More Than Just an Image Generator—We Help You Sell</h4>
                </div>
            </div>
        </div>
        <div class="inner-content">
            <div class="bg-layer rotate-me" style="background-image: url('../../../../images/pattern-8.png');"></div>
            <div class="row clearfix">

                <div class="col-lg-4 col-md-6 col-sm-12 content-column">
                    <div class="content-box">
                        <div class="service-block-two wow slideInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: slideInLeft;">
                            <div class="inner-box">
                                <div class="pattern-layer" style="background-image: url('../../../images/pattern-9.png');"></div>
                                <figure class="icon-box"><img src="/images/Tailored-for-your-need.svg" alt=""></figure>
                                <h3><a href="service-details.html">Tailored for Your Needs</a></h3>
                                <div class="text">
                                    <p>Our Gen AI tool is designed specifically for businesses looking to boost sales with visually engaging content.</p>
                                </div>
                                <div class="link"><a href="service-details.html">Read more<i class="fas fa-angle-double-right"></i></a></div>
                            </div>
                        </div>
                        <div class="service-block-two wow slideInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: slideInLeft;">
                            <div class="inner-box">
                                <div class="pattern-layer" style="background-image: url('../../../images/pattern-9.png');"></div>
                                <figure class="icon-box"><img src="/images/speed-meets-quality.svg" alt=""></figure>
                                <h3><a href="service-details.html">Speed Meets Quality</a></h3>
                                <div class="text">
                                    <p>Generate flawless images in a fraction of the time it would take manually, without compromising on quality.</p>
                                </div>
                                <div class="link"><a href="service-details.html">Read more<i class="fas fa-angle-double-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 col-sm-12 image-column">
                    <div class="image-box">
                        <div class="dotted-box">
                            <div class="dotted dotted-1"></div>
                            <div class="dotted dotted-2"></div>
                            <div class="dotted dotted-3"></div>
                            <div class="dotted dotted-4"></div>
                        </div>
                        <figure class="image"><img src="/images/rocket-3.png" alt=""></figure>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 content-column">
                    <div class="content-box">
                        <div class="service-block-two wow slideInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: slideInRight;">
                            <div class="inner-box">
                                <div class="pattern-layer" style="background-image: url('../../../images/pattern-9.png');"></div>
                                <figure class="icon-box"><img src="/images/cost-efficiant.svg" alt=""></figure>
                                <h3><a href="service-details.html">Cost-Efficient</a></h3>
                                <div class="text">
                                    <p>Say goodbye to expensive photo shoots. Gen AI helps you create professional images without breaking the bank.</p>
                                </div>
                                <div class="link"><a href="service-details.html">Read more<i class="fas fa-angle-double-right"></i></a></div>
                            </div>
                        </div>
                        <div class="service-block-two wow slideInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: slideInRight;">
                            <div class="inner-box">
                                <div class="pattern-layer" style="background-image: url('../../../images/pattern-9.png');"></div>
                                <figure class="icon-box"><img src="/images/consistent-branding.svg" alt=""></figure>
                                <h3><a href="service-details.html">Consistent Branding</a></h3>
                                <div class="text">
                                    <p>Maintain a cohesive look across all visuals, ensuring every image aligns perfectly with your brand identity.</p>
                                </div>
                                <div class="link"><a href="service-details.html">Read more<i class="fas fa-angle-double-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ready-take bg-color-2">
    <div class="container">
        <div class="sec-title text-center">
            <div class="row">
                <div class="col-12 col-md-8 m-auto">
                    <h3>Ready to Take Your Product Images to the Next Level?</h3>
                    <p>Transform ordinary product photos into captivating visuals with our AI-powered tool. Experience the ease of creating high-quality images that elevate your brand's appeal.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-history bg-color-2">
    <div class="container">

        <div class="sec-title text-center">
            <div class="row">
                <div class="col-12 col-md-8 m-auto">
                    <h3 class="text-white">Why choose us?</h3>
                    <p class="text-white">AI-Powered Images, Delivered Without the Hassle</p>
                </div>
            </div>
        </div>

        <div class="history-box">
            <div class="box-title"><h3>Start</h3></div>
            <div class="row clearfix">
                <div class="col-lg-5 col-md-6 col-sm-12 inner-column">
                    <div class="inner-box text-end">
                        <div class="single-item">
                            <h3>AI Precision</h3>
                            <p>Let AI handle the details—our tool generates images that are not only beautiful but optimized for every platform.</p>
                        </div>
                        <div class="single-item">
                            <h3>Time-Saving</h3>
                            <p>Focus on your business while we provide you with high-quality visuals in record time.</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 offset-lg-2 inner-column">
                    <div class="inner-box">
                        <div class="single-item">
                            <h3>Scalability</h3>
                            <p>Whether you need one image or hundreds, our tool scales with your business.</p>
                        </div>
                        <div class="single-item">
                            <h3>Affordable and Scalable</h3>
                            <p>Get premium imagery at a lower cost and scale effortlessly as your business grows.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <figure class="image-box"><img src="/images/history-1.png" alt=""></figure>
        </div>
    </div>
</section>


<section class="testimonial-section style-two">
    
    <div class="anim-icon wow zoomIn animated animated" data-wow-delay="00ms" style="visibility: visible; animation-delay: 0ms; animation-name: zoomIn;">
        <div class="icon icon-1 rotate-me" style="background-image: url('../../../images/anim-icon-1.png');"></div>
        <div class="icon icon-2 float-bob-x" style="background-image: url('../../../images/anim-icon-2.png');"></div>
        <div class="icon icon-3 float-bob-y"></div>
        <div class="icon icon-4 rotate-me" style="background-image: url('../../../images/anim-icon-3.png');"></div>
        <div class="icon icon-5 float-bob-x" style="background-image: url('../../../images/anim-icon-4.png');"></div>
        <div class="icon icon-6 rotate-me" style="background-image: url('../../../images/anim-icon-5.png');"></div>
        <div class="icon icon-7 rotate-me" style="background-image: url('../../../images/anim-icon-5.png');"></div>
        <div class="icon icon-8 float-bob-y" style="background-image: url('../../../images/anim-icon-4.png');"></div>
        <div class="icon icon-9 rotate-me" style="background-image: url('../../../images/anim-icon-3.png');"></div>
        <div class="icon icon-10 float-bob-x"></div>
        <div class="icon icon-11 rotate-me" style="background-image: url('../../../images/anim-icon-1.png');"></div>
    </div>

    <div class="container">
        <div class="sec-title text-center">
            <h3>Client Success Stories</h3>
        </div>

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="testimonial-content">
                    <div class="inner-box">
                        <div class="top-inner">
                            <div class="pattern-layer" style="background-image: url('../../../images/pattern-20.png');"></div>
                            <div class="text">
                                <h6>A Total Game-Changer!</h6>
                                <p>This tool has completely transformed how I manage my online store. The quality of the images is incredible, and it's so quick and easy to use.</p>
                            </div>
                            <ul class="rating clearfix">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="author-info">
                            <figure class="image-box"><img src="/images/Sarah.svg" alt=""></figure>
                            <h3>- Sarah M.</h3>
                            <span class="designation">E-commerce Owner</span>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-content">
                    <div class="inner-box">
                        <div class="top-inner">
                            <div class="pattern-layer" style="background-image: url('../../../images/pattern-20.png');"></div>
                            <div class="text">
                                <h6>Professional Results Every Time</h6>
                                <p>The AI image creator has elevated our brand’s visuals significantly. We no longer have to rely on expensive photoshoots; the tool delivers professional results consistently.</p>
                            </div>
                            <ul class="rating clearfix">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="author-info">
                            <figure class="image-box"><img src="/images/James.svg" alt=""></figure>
                            <h3>- James L.</h3>
                            <span class="designation">Brand Manager</span>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-content">
                    <div class="inner-box">
                        <div class="top-inner">
                            <div class="pattern-layer" style="background-image: url('../../../images/pattern-20.png');"></div>
                            <div class="text">
                                <h6>Fast, Effective, and Affordable!</h6>
                                <p>As a small business owner, finding a cost-effective solution that delivers quality results is crucial. This AI tool has exceeded my expectations on every front.</p>
                            </div>
                            <ul class="rating clearfix">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="author-info">
                            <figure class="image-box"><img src="/images/Emma.svg" alt=""></figure>
                            <h3>- Emma R.</h3>
                            <span class="designation">Small Business Owner</span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
        
    </div>

</section>


<section class="getstarted bg-color-2">
    <div class="container">
        <div class="sec-title text-center">
            <div class="row">
                <div class="col-12 col-md-8 m-auto">
                    <h3>
                        <a href="contact.html" class="theme-btn style-two">
                            <i class="fas fa-paper-plane"></i>Get Started Now
                        </a>
                    </h3>
                    <p>Don’t settle for average product photos. Try our AI image creator today and discover how easy it is to enhance your brand’s visual appeal.</p>
                </div>
            </div>
        </div>
    </div>
</section>