
$primary: #1f4a97;
$enable-shadows: true;

$white: #ffffff;

$gradient1: linear-gradient(90deg, var(--c1, #d201b5), var(--c2, #fe1660 ) 50%, var(--c1, #d201b5)) var(--x, 0)/ 200%;
$gradient2: linear-gradient(90deg, var(--c1, #ff5a05), var(--c2, #ffd10d ) 50%, var(--c1, #ff5a05)) var(--x, 0)/ 200%;