<div class="page-title-area">
    <div class="bg-text">
        <span>Dilx<br>Digital<br>Informative<br>Solution</span>
    </div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="title-item">
                    <h2>Blogs</h2>
                    <ul>
                        <li>
                            <a href="sass.html">Home</a>
                        </li>
                        <li>
                            <span>Blog</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blog -->

<section class="blog-area two pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-sm-6 col-lg-4">
                <div class="blog-item blog-img-one">
                    <ul class="top">
                        <li>22nd July, 2024</li>
                    </ul>
                    <h3>
                        <a href="blog-details.html">Multiple Companies For Collecting Emails</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectur adipisicing elit sed do eiumod</p>
                    <ul class="bottom">
                        <li>
                            <img src="/images/blog1.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Alex Dimanov</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="blog-item blog-img-two">
                    <ul class="top">
                        <li>30th May, 2024</li>
                    </ul>
                    <h3>
                        <a href="blog-details.html">Top Ten Marketing Tricks And Tips</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectur adipisicing elit sed do eiumod</p>
                    <ul class="bottom">
                        <li>
                            <img src="/images/blog2.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Tom Henry</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6   col-lg-4">
                <div class="blog-item blog-img-three">
                    <ul class="top">
                        <li>08th April, 2024</li>
                    </ul>
                    <h3>
                        <a href="blog-details.html">Weekly Campiagn For University Of Linkon</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectur adipisicing elit sed do eiumod</p>
                    <ul class="bottom">
                        <li>
                            <img src="/images/blog3.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Jac Jacson</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="blog-item blog-img-one">
                    <ul class="top">
                        <li>22nd July, 2024</li>
                    </ul>
                    <h3>
                        <a href="blog-details.html">Multiple Companies For Collecting Emails</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectur adipisicing elit sed do eiumod</p>
                    <ul class="bottom">
                        <li>
                            <img src="/images/blog1.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Alex Dimanov</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="blog-item blog-img-two">
                    <ul class="top">
                        <li>30th May, 2024</li>
                    </ul>
                    <h3>
                        <a href="blog-details.html">Top Ten Marketing Tricks And Tips</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectur adipisicing elit sed do eiumod</p>
                    <ul class="bottom">
                        <li>
                            <img src="/images/blog2.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Tom Henry</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6   col-lg-4">
                <div class="blog-item blog-img-three">
                    <ul class="top">
                        <li>08th April, 2024</li>
                    </ul>
                    <h3>
                        <a href="blog-details.html">Weekly Campiagn For University Of Linkon</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectur adipisicing elit sed do eiumod</p>
                    <ul class="bottom">
                        <li>
                            <img src="/images/blog3.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Jac Jacson</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="blog-item blog-img-one">
                    <ul class="top">
                        <li>22nd July, 2024</li>
                    </ul>
                    <h3>
                        <a href="blog-details.html">Multiple Companies For Collecting Emails</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectur adipisicing elit sed do eiumod</p>
                    <ul class="bottom">
                        <li>
                            <img src="/images/blog1.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Alex Dimanov</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="blog-item blog-img-two">
                    <ul class="top">
                        <li>30th May, 2024</li>
                    </ul>
                    <h3>
                        <a href="blog-details.html">Top Ten Marketing Tricks And Tips</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectur adipisicing elit sed do eiumod</p>
                    <ul class="bottom">
                        <li>
                            <img src="/images/blog2.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Tom Henry</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6   col-lg-4">
                <div class="blog-item blog-img-three">
                    <ul class="top">
                        <li>08th April, 2024</li>
                    </ul>
                    <h3>
                        <a href="blog-details.html">Weekly Campiagn For University Of Linkon</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectur adipisicing elit sed do eiumod</p>
                    <ul class="bottom">
                        <li>
                            <img src="/images/blog3.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Jac Jacson</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="pagination-area">
            <ul>
                <li>
                    <a href="blog.html">Prev</a>
                </li>
                <li>
                    <a href="blog.html" class="active">1</a>
                </li>
                <li>
                    <a href="blog.html">2</a>
                </li>
                <li>
                    <a href="blog.html">3</a>
                </li>
                <li>
                    <a href="blog.html">4</a>
                </li>
                <li>
                    <a href="blog.html">5</a>
                </li>
                <li>
                    <a href="blog.html">Next</a>
                </li>
            </ul>
        </div>

    </div>
</section>