<div class="page-title-area">
    <div class="bg-text">
        <span>Dilx<br>Digital<br>Informative<br>Solution</span>
    </div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="title-item">
                    <h2>Blogs</h2>
                    <ul>
                        <li>
                            <a href="sass.html">Home</a>
                        </li>
                        <li>
                            <span>Blog</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blog -->

<section class="blog-area two pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-sm-6 col-lg-4">
                <div class="blog-item blog-img-one">
                    <!-- <ul class="top">
                        <li>22nd July, 2024</li>
                    </ul> -->
                    <h3>
                        <a role="button" routerLink="/blog-details">SEO Mistakes to Avoid: Common Pitfalls and How to Fix Them</a>
                    </h3>
                    <p>Is your SEO strategy hurting your website? Many website owners jump into SEO (Search Engine Optimization) 
                        with enthusiasm, only to find their efforts aren’t paying off. Why?</p>
                    <!-- <ul class="bottom">
                        <li>
                            <img src="/images/blog1.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Alex Dimanov</a>
                        </li>
                    </ul> -->
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="blog-item blog-img-two">
                    <!-- <ul class="top">
                        <li>30th May, 2024</li>
                    </ul> -->
                    <h3>
                        <a role="button" routerLink="/blog2">Security and Fraud Prevention in Direct Carrier Billing: How Safe Are We?</a>
                    </h3>
                    <p>Ever wondered how secure your mobile transactions are? Direct Carrier Billing (DCB) 
                        is a convenient way to purchase digital content...</p>
                    <!-- <ul class="bottom">
                        <li>
                            <img src="/images/blog2.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Tom Henry</a>
                        </li>
                    </ul> -->
                </div>
            </div>

            <div class="col-sm-6   col-lg-4">
                <div class="blog-item blog-img-three">
                    <!-- <ul class="top">
                        <li>08th April, 2024</li>
                    </ul> -->
                    <h3>
                        <a role="button" routerLink="/blog3">Content Marketing Ethics: Balancing Authenticity and Persuasion</a>
                    </h3>
                    <p>Is it possible to be genuine while still trying to sell something? This question often comes up 
                        in the world of content marketing</p>
                    <!-- <ul class="bottom">
                        <li>
                            <img src="/images/blog3.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Jac Jacson</a>
                        </li>
                    </ul> -->
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="blog-item blog-img-one">
                    <!-- <ul class="top">
                        <li>22nd July, 2024</li>
                    </ul> -->
                    <h3>
                        <a role="button" routerLink="/blog4">The Role of AI in Campaign Management: Friend or Foe?</a>
                    </h3>
                    <p>Is AI a friend or foe in campaign management? That's the million-dollar question many marketers are 
                        asking today.</p>
                    <!-- <ul class="bottom">
                        <li>
                            <img src="/images/blog1.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Alex Dimanov</a>
                        </li>
                    </ul> -->
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="blog-item blog-img-two">
                    <!-- <ul class="top">
                        <li>30th May, 2024</li>
                    </ul> -->
                    <h3>
                        <a role="button" routerLink="/blog5">The Psychology of Campaigns: Understanding What Makes Audiences Tick</a>
                    </h3>
                    <p>Ever wondered why some campaigns go viral while others barely make a blip?</p>
                    <!-- <ul class="bottom">
                        <li>
                            <img src="/images/blog2.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Tom Henry</a>
                        </li>
                    </ul> -->
                </div>
            </div>

            <div class="col-sm-6   col-lg-4">
                <div class="blog-item blog-img-three">
                    <!-- <ul class="top">
                        <li>08th April, 2024</li>
                    </ul> -->
                    <h3>
                        <a role="button" routerLink="/blog6">Digital Transformation in MENA: How Telecom is leading the way? </a>
                    </h3>
                    <p>Did you know that telecommunications companies in the MENA region are at the forefront of digital transformation? It's true!...</p>
                    <!-- <ul class="bottom">
                        <li>
                            <img src="/images/blog3.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Jac Jacson</a>
                        </li>
                    </ul> -->
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="blog-item blog-img-one">
                    <!-- <ul class="top">
                        <li>22nd July, 2024</li>
                    </ul> -->
                    <h3>
                        <a role="button" routerLink="/blog7">Predicting the Future of MVAS Content Marketing: Key Trends to Watch</a>
                    </h3>
                    <p>Ever wondered what the future holds for Mobile Value Added Services (MVAS) content marketing? If you’re in the business... </p>
                    <!-- <ul class="bottom">
                        <li>
                            <img src="/images/blog1.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Alex Dimanov</a>
                        </li>
                    </ul> -->
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="blog-item blog-img-two">
                    <!-- <ul class="top">
                        <li>30th May, 2024</li>
                    </ul> -->
                    <h3>
                        <a role="button" routerLink="/blog8">The Power of Consistency: Maintaining your Brand Voice across all Platforms</a>
                    </h3>
                    <p>Ever felt confused by a brand’s messaging because it seemed to change from one platform to the next?</p>
                    <!-- <ul class="bottom">
                        <li>
                            <img src="/images/blog2.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Tom Henry</a>
                        </li>
                    </ul> -->
                </div>
            </div>

            <div class="col-sm-6   col-lg-4">
                <div class="blog-item blog-img-three">
                    <!-- <ul class="top">
                        <li>08th April, 2024</li>
                    </ul> -->
                    <h3>
                        <a role="button" routerLink="/blog9">Personal vs Business Branding: Striking the Right Balance</a>
                    </h3>
                    <p>Ever wondered why some entrepreneurs shine brighter than their businesses, while others let their brand take the spotlight?</p>
                    <!-- <ul class="bottom">
                        <li>
                            <img src="/images/blog3.jpg" alt="Blog">
                        </li>
                        <li>
                            <span>by:</span>
                        </li>
                        <li>
                            <a href="#">Jac Jacson</a>
                        </li>
                    </ul> -->
                </div>
            </div>

        </div>

        <!-- <div class="pagination-area">
            <ul>
                <li>
                    <a href="blog.html">Prev</a>
                </li>
                <li>
                    <a href="blog.html" class="active">1</a>
                </li>
                <li>
                    <a href="blog.html">2</a>
                </li>
                <li>
                    <a href="blog.html">3</a>
                </li>
                <li>
                    <a href="blog.html">4</a>
                </li>
                <li>
                    <a href="blog.html">5</a>
                </li>
                <li>
                    <a href="blog.html">Next</a>
                </li>
            </ul>
        </div> -->

    </div>
</section>